app/com-card.html
<!DOCTYPE html>
<html class="no-js" lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Юные лингвисты</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
        <header class="block page-header">
          <div class="content"><a href="index.html"><img class="header-logo" src="img/misc/logo-hor.svg"></a>
            <div class="region-selection">
              <div class="city-selection-block" id="citySelect">
                <ul class="cs-list">
                  <li class="cs-item" id="otherRegion"><a class="cs-link" href="#">Другой регион</a></li>
                  <li class="cs-item" id="mscRegion"><a class="cs-link" href="#">Москва и Мос. обл.</a></li>
                </ul>
              </div>
              <p class="r-def-phrase city-def-phrase">Ваш регион Москва или Мос. область?</p>
              <div class="yes-no-and-reg">
                <div class="yesno"><span class="yes">Да</span><span class="no">Нет</span></div>
                <div class="city-defined msc mobhide">Москва и Мос. обл.</div>
                <div class="city-defined msc mobshow visible">Москва и Мос. обл.</div>
                <div class="city-defined other">Другой регион</div>
              </div>
            </div>
            <div class="header-search-block">
              <div class="mobile-search-btn"></div>
              <input class="common-input" id="headerSearch" type="search" placeholder="Я хочу найти...">
              <div class="search-results-block" id="searchResults">
                <ul class="sr-list">
                  <li class="sr-item"><a class="sr-link" href="#">Школа бокса</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа спортивной гимнастики</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Начальная школа Стриж</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа художественной гимнастики</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа немецкого языка</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Большая школа большого тенниса имени Юрий Гагарина</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Первая школа детской психологии</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Маленькая уютная школа для девочек</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <header class="block main-menu-block">
          <div class="content main-menu-content">
            <nav class="main-menu">
              <ul class="main-menu__list">
                <li class="main-menu__item choice mobshow"><a class="main-menu__link" href="choice.html">Выбор Kids Point</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="events.html">Мероприятия</a></li>
                <li class="main-menu__item"><a class="main-menu__link active" href="education.html">Образование</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="sport.html">Спорт</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="enter.html">Развлечения</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="beauty.html">Здоровье и красота</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="shops.html">Магазины</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="camps.html">Лагеря</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="uslugi.html">Услуги</a></li>
                <li class="main-menu__item choice mobhide"><a class="main-menu__link" href="choice.html">Выбор Kids Point</a></li>
              </ul>
            </nav>
          </div>
        </header>
    <div class="preloader"><img class="preload-cat" src="img/illustrations/preload-cat.svg">
      <div class="bim"></div>
    </div>
    <main>
      <div class="popup-wrapper" id="otherCityPopup">
        <div class="popup">
          <div class="close-popup"></div><img class="cat-pop-ill" src="img/illustrations/city-popup.svg">
          <h3 class="popup-title smaller-title">Немного терпения!</h3>
          <p class="popup-text common-text">Пока мы работаем только в&nbsp;Москве,<br> но&nbsp;скоро ситуация изменится</p>
          <div class="blue-btn big-btn popup-btn just-close-btn">Я просто смотрю</div>
        </div>
      </div>
      <div class="popup-wrapper" id="comclosePopup">
        <div class="popup comclose-popup">
          <div class="close-popup"></div><img class="cat-pop-ill" src="img/illustrations/colombo.svg">
          <h3 class="popup-title smaller-title">Спасибо, что сообщили!</h3>
          <p class="popup-text common-text">Мы удалим эту компанию,<br> чтобы никто не&nbsp;растерялся</p>
          <div class="blue-btn big-btn popup-btn just-close-btn">Я молодец</div>
        </div>
      </div>
      <div class="popup-wrapper" id="swearPopup">
        <div class="popup">
          <div class="close-popup"></div><img class="cat-pop-ill" src="img/illustrations/swear.svg">
          <h3 class="popup-title smaller-title">Ругаетесь? Тут&nbsp;же&nbsp;дети!</h3>
          <p class="popup-text common-text">Похоже, в&nbsp;вашем отзыве есть<br> плохие слова. Поправьте, пожалуйста</p>
          <div class="blue-btn big-btn popup-btn just-close-btn">Хорошо, сейчас</div>
        </div>
      </div>
      <div class="block upper-block com-card-block">
        <div class="content">
          <ul class="breadcrumbs">
            <li><a href="index.html">Главная /</a></li>
            <li><a href="education.html">Образование /</a></li>
            <li class="active"><a href="com-card.html">Юные лингвисты</a></li>
          </ul>
          <h2 class="block-title wu bordered cc">Юные лингвисты</h2>
          <p class="post-date comclose">
            Компания закрылась?
            <a class="blue-link" id="comclose" href="#">Сообщите нам</a>
          </p>
          <div class="one-plate common-plate big-plate">
            <div class="com-pic-area"><img class="ab-img" src="img/post-pics/education/9.jpg"></div>
            <div class="com-info-area">
              <div class="labels"><span class="c-type label">Школа ин. языков</span><span class="best label">Лучшее</span></div><span class="label raiting good">5.0</span>
              <ul class="com-chars">
                <li class="age">с 3 лет</li>
                <li class="price">84 000 в год</li>
                <li class="location">м. Баумана, ул. Вафина, 278/А</li>
                <li class="time">10:00 - 20:00</li>
                <li class="phone"><a class="blue-link" href="tel: +79227107912">+7 922 710 79 12</a></li>
                <li class="site"><a class="blue-link" href="#">youthlingvo.com</a></li>
              </ul>
              <div class="cc-benefits">
                <ul class="cc-ben-list">
                  <li class="cc-ben-item">Парковка рядом</li>
                  <li class="cc-ben-item">Говорят на английском</li>
                  <li class="cc-ben-item">Частное учреждение</li>
                  <li class="cc-ben-item">Для детей с ограниченными возможностями</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="about-company">
            <h3 class="smaller-title">О компании</h3>
            <p class="com-desc common-text">
              Языковая школа «Юные лингвисты» существует с 1992 года. За 26 лет мы открыли 15 филиалов в Москве
              и Санкт-Петербурге. У нас работают преподаватели с многолетним стажем, каждый из них имеет категорию Proficiency
              языке, который преподает. У нас доступно обучение по следующим направлениям: английский, французский, Испанский,
              Арабский, Турецкий, Иврит. Чтобы записаться — позвоните.
            </p>
          </div>
          <div class="share-company">
            <h3 class="smaller-title">Поделиться</h3>
            <ul class="footer-col sn">
              <li><a class="fb" href="#" target="_blank"></a></li>
              <li><a class="vk" href="#" target="_blank"></a></li>
              <li><a class="ok" href="#" target="_blank"></a></li>
              <li><a class="tw" href="#" target="_blank"></a></li>
            </ul>
          </div>
          <ul class="filials-list">
            <li class="f-title">Адреса филиалов</li>
            <li class="f-item">м. Одинцово, ул. Фактурная, 39 (Главный офис)</li>
            <li class="f-item">м. Охотный ряд, ул. Космодемьянская, 156</li>
            <li class="f-item">м. Баррикадная, ул. Великая, 44</li>
          </ul>
          <div class="cc-map-block">
            <div class="marker one small"></div>
            <div class="marker two"></div>
            <div class="marker three small"></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577325.3466010405!2d36.82513586830873!3d55.58152446697099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1538220309900" frameborder="0" style="border:0" allowfullscreen=""></iframe>
          </div>
          <div class="feedbacks-block">
            <h2 class="block-title">Отзывы</h2>
            <ul class="all-feedbacks">
              <li class="one-feedback">
                <div class="fb-mark-block">
                  <div class="label raiting good">5</div><span class="mark-word">оценка</span>
                </div>
                <div class="fb-body">
                  <h3 class="smaller-title">Оксана Сливинская</h3>
                  <p class="fb-text common-text">Все отлично, многое узнала за короткий срок!</p><a class="blue-link leavereply" href="#leavingFeedback">Ответить</a>
                </div>
              </li>
              <li class="one-feedback">
                <div class="fb-mark-block">
                  <div class="label raiting good">5</div><span class="mark-word">оценка</span>
                </div>
                <div class="fb-body">
                  <h3 class="smaller-title">Олег Газманов</h3>
                  <p class="fb-text common-text">Это опупенное место! Мой ребёнак в восторге - учит языки судовольствим! Думаю сам записатся тоже, полезна!</p><a class="blue-link leavereply" href="#leavingFeedback">Ответить</a>
                  <div class="ppl-replies">
                    <div class="one-ppl-reply">
                      <h3 class="smaller-title">Федор Кочкин</h3><span class="repto">Олегу</span>
                      <p class="fb-text common-text">Н-да уж... Вам бы не помешало</p><a class="blue-link leavereply" href="#leavingFeedback">Ответить</a>
                    </div>
                    <div class="one-ppl-reply">
                      <h3 class="smaller-title">Леся Гора</h3><span class="repto">Федору Кочкину</span>
                      <p class="fb-text common-text">Зачем вы цепляетесь? Здесь не форум грамотеев, а просто отзывы люди пишут.</p><a class="blue-link leavereply" href="#leavingFeedback">Ответить</a>
                    </div>
                    <div class="hidden-replies">
                      <div class="one-ppl-reply">
                        <h3 class="smaller-title">Юрий Лоза</h3><span class="repto">Олегу</span>
                        <p class="fb-text common-text">Прикольно, тоже пойду</p><a class="blue-link leavereply" href="#leavingFeedback">Ответить</a>
                      </div>
                      <div class="one-ppl-reply">
                        <h3 class="smaller-title">Марика Юновкская</h3><span class="repto">Федору Кочкину</span>
                        <p class="fb-text common-text">На себя посмотрите.</p><a class="blue-link leavereply" href="#leavingFeedback">Ответить</a>
                      </div>
                    </div>
                    <div class="show-more-replies"><span class="blue-link showrep">Показать все ответы</span></div>
                  </div>
                </div>
              </li>
              <li class="one-feedback">
                <div class="fb-mark-block">
                  <div class="label raiting good">4</div><span class="mark-word">оценка</span>
                </div>
                <div class="fb-body">
                  <h3 class="smaller-title">Сергей Бураковский</h3>
                  <p class="fb-text common-text">Хорошо, полезно. Стоит своих денег. Один раз, правда, накосячили с расписанием, создали некоторые неудобства тем самым.</p><a class="blue-link leavereply" href="#leavingFeedback">Ответить</a>
                </div>
              </li>
              <div class="leaving-feedback" id="leavingFeedback">
                <form>
                  <h2 class="smaller-title">Ваш ответ Олегу</h2>
                  <input class="common-input fio" placeholder="ФИО">
                  <input class="common-input email" placeholder="Email">
                  <textarea class="common-input feedback-text" placeholder="Ваш комментарий"></textarea>
                  <div class="capcha-block"><img src="img/misc/capcha.jpg"></div>
                  <input class="common-input capcha-code" placeholder="Код с картинки">
                  <button class="red-btn big-btn submit-fb disabled" type="submit" value="Отправить">Отправить</button>
                  <p class="userag-line">
                    Регистрируясь, вы соглашаетесь с условиями
                    <a class="blue-link" href="userag.html">пользовательского соглашения</a>
                  </p>
                </form>
              </div>
              <div class="grey-btn smf">Показать больше отзывов</div>
            </ul>
            <div class="leave-comment-block">
              <form>
                <h2 class="smaller-title">Оставьте отзыв</h2>
                <input class="common-input fio" placeholder="ФИО">
                <input class="common-input email" placeholder="Email">
                <textarea class="common-input feedback-text" placeholder="Что скажете?"></textarea>
                <div class="capcha-block"><img src="img/misc/capcha.jpg"></div>
                <input class="common-input capcha-code" placeholder="Код с картинки">
                <div class="mark-block"><span class="mark-word-lc">Ваша оценка:</span>
                  <ul class="yourmark">
                    <li class="yml">1</li>
                    <li class="yml">2</li>
                    <li class="yml">3</li>
                    <li class="yml">4</li>
                    <li class="yml">5</li>
                  </ul>
                </div>
                <button class="red-btn big-btn submit-fb disabled" type="submit" value="Отправить">Отправить</button>
                <p class="userag-line">
                  Оставляя отзыв, вы соглашаетесь с условиями
                  <a class="blue-link" href="userag.html">пользовательского соглашения</a>
                </p>
              </form>
            </div>
          </div>
          <div class="see-also">
            <h2 class="block-title">Kids Point также советует</h2>
            <div class="ks-three"><a class="one-plate common-plate" href="com-card.html">
                <div class="com-pic-area">
                  <div class="p-dark"></div><img class="ab-img" src="img/post-pics/education/10.jpg">
                  <div class="labels"><span class="c-type label">Школа ин. языков</span></div>
                </div>
                <div class="com-info-area">
                  <h2 class="smaller-title com-title">Гуру Спик</h2><span class="label raiting good">4.8</span>
                  <ul class="com-chars">
                    <li class="age">с 6 лет</li>
                    <li class="price">4 500 в месяц</li>
                    <li class="location">м. Ленина, ул. Городская, 45</li>
                    <li class="time">8:00 - 19:00</li>
                  </ul>
                </div></a><a class="one-plate common-plate" href="com-card.html">
                <div class="com-pic-area">
                  <div class="p-dark"></div><img class="ab-img" src="img/post-pics/education/11.jpg">
                  <div class="labels"><span class="c-type label">Школа ин. языков</span><span class="best label">Лучшее</span></div>
                </div>
                <div class="com-info-area">
                  <h2 class="smaller-title com-title">Разговорчивый кот</h2><span class="label raiting good">5.0</span>
                  <ul class="com-chars">
                    <li class="age">с 5 лет</li>
                    <li class="price">7 000 в месяц</li>
                    <li class="location">м. Баумана, ул. Вафина, 278/А</li>
                    <li class="time">7:00 - 21:00</li>
                  </ul>
                </div></a><a class="one-plate common-plate" href="com-card.html">
                <div class="com-pic-area">
                  <div class="p-dark"></div><img class="ab-img" src="img/post-pics/education/12.jpg">
                  <div class="labels"><span class="c-type label">Школа ин. языков</span></div>
                </div>
                <div class="com-info-area">
                  <h2 class="smaller-title com-title">Kids Speak</h2><span class="label raiting good">4.4</span>
                  <ul class="com-chars">
                    <li class="age">с 0 лет</li>
                    <li class="price">12 000 в месяц</li>
                    <li class="location">м. Одинцово, ул. Фактурная, 89</li>
                    <li class="time">Круглосуточно</li>
                  </ul>
                </div></a>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="see-also">
            <h2 class="block-title">Это может вас заинтересовать</h2>
            <div class="ks-three"><a class="one-plate choice-plate short-plate tripple" href="one-choice.html">
                <div class="p-dark"></div><img class="ab-img" src="img/post-pics/sel-full-9.jpg"><span class="choice-info"><span class="next-to-num alone"><span class="choice-numword">Как лучше<br> учить языки</span><span class="choice-desc">Советы родителям</span></span></span></a><a class="one-plate choice-plate short-plate tripple" href="one-choice.html">
                <div class="p-dark"></div><img class="ab-img" src="img/post-pics/sel-full-10.jpg"><span class="choice-info"><span class="next-to-num alone"><span class="choice-numword">Разговоры<br> с носителями</span><span class="choice-desc">Практика — лучший способ<br> выучить любой язык</span></span></span></a><a class="one-plate choice-plate short-plate tripple" href="one-choice.html">
                <div class="p-dark"></div><img class="ab-img" src="img/post-pics/sel-full-11.jpg"><span class="choice-info"><span class="choice-num">4</span><span class="next-to-num"><span class="choice-numword">метода</span><span class="choice-desc">быстрого обучения</span></span></span></a>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="block send-mail-block">
        <div class="content">
          <div class="sm-text-area">
            <h1 class="banner-title">Еженедельная рассылка Kids Point</h1>
            <p class="undertitle mt">О лучших детских развлечениях недели</p>
            <form class="sm-form">
              <input class="common-input" type="email" placeholder="Ваш Email">
              <input class="red-btn big-btn" type="submit" value="Подписаться">
            </form>
            <p class="small-banner-info">Подписываясь на рассылку, вы соглашаетесь на получение информационных<br> и рекламных сообщений в соответствии с
              <a class="blue-dashed-link" href="rass.html">правилами рассылок</a>
            </p>
          </div><img class="send-mail-pic" src="img/illustrations/mail-sending.svg">
        </div>
      </div>
            <footer class="block page-footer">
              <div class="content"><a href="index.html"><img class="footer-logo" src="img/misc/logo-vert.svg"></a>
                <ul class="footer-col">
                  <li><a href="about.html">О компании</a></li>
                  <li><a href="smi.html">СМИ о нас</a></li>
                </ul>
                <ul class="footer-col">
                  <li><a href="reklama.html">Реклама</a></li>
                  <li><a href="contacts.html">Контакты</a></li>
                </ul>
                <ul class="footer-col">
                  <li><a href="userag.html">Пользовательское соглашение</a></li>
                  <li><a href="rass.html">Правила рассылок</a></li>
                </ul>
                <ul class="footer-col sn">
                  <li><a class="fb" href="#" target="_blank"></a></li>
                  <li><a class="vk" href="#" target="_blank"></a></li>
                  <li><a class="ok" href="#" target="_blank"></a></li>
                  <li><a class="tw" href="#" target="_blank"></a></li>
                </ul>
                <p class="copyright">Kids Point, 2018</p>
              </div>
            </footer>
      <div class="block seo-block">
        <div class="content">
          <p class="seo-col">Ребёнок (множ. дети) — в основном значении, человек в период детства. Возрастные границы детства разнятся в различных культурах, теориях жизненного цикла и юридических системах. В общем случае ребёнком называют человека от рождения.</p>
          <p class="seo-col">До окончания пубертатного периода. Де́вочка — ребёнок женского пола; ма́льчик — ребёнок мужского пола. Раздел медицины, посвящённый детскому здоровью, называется педиатрия. Русское слово «ребёнок» происходят от др.</p>
          <p class="seo-col">В России Пётр I издаёт указ «О строении в Москве госпиталей для помещения незаконнорождённых младенцев и о даче им и их кормилицам денежного жалования». Позже М. В. Ломоносов высказывает.</p>
        </div>
      </div>
    </main>
    <script src="js/main.js"></script>
    <script src="js/jquery.range.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  </body>
</html>

pug/com-card.pug
extends template

block title
    title Юные лингвисты


block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isWhite: true, isIndexPage: false, activePage: 'education.html'})

block content
    main
        include ./components/popups/other-city-popup
        include ./components/popups/comclose-popup
        include ./components/popups/swear-popup

        .block.upper-block.com-card-block
            .content
                ul.breadcrumbs
                    li
                        a(href="index.html") Главная /
                    li
                        a(href="education.html") Образование /
                    li.active
                        a(href="com-card.html") Юные лингвисты

                h2.block-title.wu.bordered.cc Юные лингвисты
                p.post-date.comclose
                    | Компания закрылась?
                    |
                    a.blue-link#comclose(href='#') Сообщите нам

                .one-plate.common-plate.big-plate
                    .com-pic-area
                        img.ab-img(src="img/post-pics/education/9.jpg")
                    .com-info-area
                        .labels
                            span.c-type.label Школа ин. языков
                            span.best.label Лучшее
                        span.label.raiting.good 5.0
                        ul.com-chars
                            li.age с 3 лет
                            li.price 84 000 в год
                            li.location м. Баумана, ул. Вафина, 278/А
                            li.time 10:00 - 20:00
                            li.phone
                                a.blue-link(href="tel: +79227107912") +7 922 710 79 12
                            li.site
                                a.blue-link(href="#") youthlingvo.com



                        .cc-benefits
                            ul.cc-ben-list
                                li.cc-ben-item Парковка рядом
                                li.cc-ben-item Говорят на английском
                                li.cc-ben-item Частное учреждение
                                li.cc-ben-item Для детей с ограниченными возможностями

                .about-company
                    h3.smaller-title О компании
                    p.com-desc.common-text
                        | Языковая школа «Юные лингвисты» существует с 1992 года. За 26 лет мы открыли 15 филиалов в Москве
                        | и Санкт-Петербурге. У нас работают преподаватели с многолетним стажем, каждый из них имеет категорию Proficiency
                        | языке, который преподает. У нас доступно обучение по следующим направлениям: английский, французский, Испанский,
                        | Арабский, Турецкий, Иврит. Чтобы записаться — позвоните.

                .share-company
                    h3.smaller-title Поделиться

                    ul.footer-col.sn
                        li
                            a.fb(href="#", target="_blank")
                        li
                            a.vk(href="#", target="_blank")
                        li
                            a.ok(href="#", target="_blank")
                        li
                            a.tw(href="#", target="_blank")



                ul.filials-list
                    li.f-title Адреса филиалов
                    li.f-item м. Одинцово, ул. Фактурная, 39 (Главный офис)
                    li.f-item м. Охотный ряд, ул. Космодемьянская, 156
                    li.f-item м. Баррикадная, ул. Великая, 44

                .cc-map-block
                    .marker.one.small
                    .marker.two
                    .marker.three.small
                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577325.3466010405!2d36.82513586830873!3d55.58152446697099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1538220309900' frameborder='0' style='border:0' allowfullscreen='')

                .feedbacks-block
                    h2.block-title Отзывы

                    ul.all-feedbacks
                        li.one-feedback
                            .fb-mark-block
                                .label.raiting.good 5
                                span.mark-word оценка
                            .fb-body
                                h3.smaller-title Оксана Сливинская
                                p.fb-text.common-text Все отлично, многое узнала за короткий срок!
                                a.blue-link.leavereply(href="#leavingFeedback") Ответить


                        li.one-feedback
                            .fb-mark-block
                                .label.raiting.good 5
                                span.mark-word оценка
                            .fb-body
                                h3.smaller-title Олег Газманов
                                p.fb-text.common-text Это опупенное место! Мой ребёнак в восторге - учит языки судовольствим! Думаю сам записатся тоже, полезна!
                                a.blue-link.leavereply(href="#leavingFeedback") Ответить

                                .ppl-replies
                                    .one-ppl-reply
                                        h3.smaller-title Федор Кочкин
                                        span.repto Олегу
                                        p.fb-text.common-text Н-да уж... Вам бы не помешало
                                        a.blue-link.leavereply(href="#leavingFeedback") Ответить

                                    .one-ppl-reply
                                        h3.smaller-title Леся Гора
                                        span.repto Федору Кочкину
                                        p.fb-text.common-text Зачем вы цепляетесь? Здесь не форум грамотеев, а просто отзывы люди пишут.
                                        a.blue-link.leavereply(href="#leavingFeedback") Ответить


                                    .hidden-replies
                                        .one-ppl-reply
                                            h3.smaller-title Юрий Лоза
                                            span.repto Олегу
                                            p.fb-text.common-text Прикольно, тоже пойду
                                            a.blue-link.leavereply(href="#leavingFeedback") Ответить

                                        .one-ppl-reply
                                            h3.smaller-title Марика Юновкская
                                            span.repto Федору Кочкину
                                            p.fb-text.common-text На себя посмотрите.
                                            a.blue-link.leavereply(href="#leavingFeedback") Ответить



                                    .show-more-replies
                                        span.blue-link.showrep Показать все ответы

                        li.one-feedback
                            .fb-mark-block
                                .label.raiting.good 4
                                span.mark-word оценка
                            .fb-body
                                h3.smaller-title Сергей Бураковский
                                p.fb-text.common-text Хорошо, полезно. Стоит своих денег. Один раз, правда, накосячили с расписанием, создали некоторые неудобства тем самым.
                                a.blue-link.leavereply(href="#leavingFeedback") Ответить

                        .leaving-feedback#leavingFeedback
                            form
                                h2.smaller-title Ваш ответ Олегу
                                input.common-input.fio(placeholder="ФИО")
                                input.common-input.email(placeholder="Email")
                                textarea.common-input.feedback-text(placeholder="Ваш комментарий")
                                .capcha-block
                                    img(src="img/misc/capcha.jpg")
                                input.common-input.capcha-code(placeholder="Код с картинки")
                                button.red-btn.big-btn.submit-fb.disabled(type="submit", value="Отправить") Отправить
                                p.userag-line
                                    | Регистрируясь, вы соглашаетесь с условиями
                                    |
                                    a.blue-link(href="userag.html") пользовательского соглашения



                        .grey-btn.smf Показать больше отзывов


                    .leave-comment-block
                        form
                            h2.smaller-title Оставьте отзыв
                            input.common-input.fio(placeholder="ФИО")
                            input.common-input.email(placeholder="Email")
                            textarea.common-input.feedback-text(placeholder="Что скажете?")
                            .capcha-block
                                img(src="img/misc/capcha.jpg")
                            input.common-input.capcha-code(placeholder="Код с картинки")

                            .mark-block
                                span.mark-word-lc Ваша оценка:
                                ul.yourmark
                                    li.yml 1
                                    li.yml 2
                                    li.yml 3
                                    li.yml 4
                                    li.yml 5

                            button.red-btn.big-btn.submit-fb.disabled(type="submit", value="Отправить") Отправить
                            p.userag-line
                                | Оставляя отзыв, вы соглашаетесь с условиями
                                |
                                a.blue-link(href="userag.html") пользовательского соглашения

                .see-also
                    h2.block-title Kids Point также советует
                    .ks-three
                        a.one-plate.common-plate(href="com-card.html")
                            .com-pic-area
                                .p-dark
                                img.ab-img(src="img/post-pics/education/10.jpg")
                                .labels
                                    span.c-type.label Школа ин. языков
                            .com-info-area
                                h2.smaller-title.com-title Гуру Спик
                                span.label.raiting.good 4.8
                                ul.com-chars
                                    li.age с 6 лет
                                    li.price 4 500 в месяц
                                    li.location м. Ленина, ул. Городская, 45
                                    li.time 8:00 - 19:00

                        a.one-plate.common-plate(href="com-card.html")
                            .com-pic-area
                                .p-dark
                                img.ab-img(src="img/post-pics/education/11.jpg")
                                .labels
                                    span.c-type.label Школа ин. языков
                                    span.best.label Лучшее
                            .com-info-area
                                h2.smaller-title.com-title Разговорчивый кот
                                span.label.raiting.good 5.0
                                ul.com-chars
                                    li.age с 5 лет
                                    li.price 7 000 в месяц
                                    li.location м. Баумана, ул. Вафина, 278/А
                                    li.time 7:00 - 21:00

                        a.one-plate.common-plate(href="com-card.html")
                            .com-pic-area
                                .p-dark
                                img.ab-img(src="img/post-pics/education/12.jpg")
                                .labels
                                    span.c-type.label Школа ин. языков
                            .com-info-area
                                h2.smaller-title.com-title Kids Speak
                                span.label.raiting.good 4.4
                                ul.com-chars
                                    li.age с 0 лет
                                    li.price 12 000 в месяц
                                    li.location м. Одинцово, ул. Фактурная, 89
                                    li.time Круглосуточно

                        .clearfix

                .see-also
                    h2.block-title Это может вас заинтересовать
                    .ks-three
                        a.one-plate.choice-plate.short-plate.tripple(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-9.jpg")
                            span.choice-info
                                span.next-to-num.alone
                                    span.choice-numword
                                        | Как лучше
                                        br
                                        |  учить языки
                                    span.choice-desc Советы родителям

                        a.one-plate.choice-plate.short-plate.tripple(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-10.jpg")
                            span.choice-info
                                span.next-to-num.alone
                                    span.choice-numword
                                        | Разговоры
                                        br
                                        |  с носителями
                                    span.choice-desc
                                        | Практика — лучший способ
                                        br
                                        |  выучить любой язык

                        a.one-plate.choice-plate.short-plate.tripple(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-11.jpg")
                            span.choice-info
                                span.choice-num 4
                                span.next-to-num
                                    span.choice-numword метода
                                    span.choice-desc быстрого обучения


                        .clearfix

        include ./components/blocks/send-mail
        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo
