app/events.html
<!DOCTYPE html>
<html class="no-js" lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Мероприятия</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
        <header class="block page-header">
          <div class="content"><a href="index.html"><img class="header-logo" src="img/misc/logo-hor.svg"></a>
            <div class="region-selection">
              <div class="city-selection-block" id="citySelect">
                <ul class="cs-list">
                  <li class="cs-item" id="otherRegion"><a class="cs-link" href="#">Другой регион</a></li>
                  <li class="cs-item" id="mscRegion"><a class="cs-link" href="#">Москва и Мос. обл.</a></li>
                </ul>
              </div>
              <p class="r-def-phrase city-def-phrase">Ваш регион Москва или Мос. область?</p>
              <div class="yes-no-and-reg">
                <div class="yesno"><span class="yes">Да</span><span class="no">Нет</span></div>
                <div class="city-defined msc mobhide">Москва и Мос. обл.</div>
                <div class="city-defined msc mobshow visible">Москва и Мос. обл.</div>
                <div class="city-defined other">Другой регион</div>
              </div>
            </div>
            <div class="header-search-block">
              <div class="mobile-search-btn"></div>
              <input class="common-input" id="headerSearch" type="search" placeholder="Я хочу найти...">
              <div class="search-results-block" id="searchResults">
                <ul class="sr-list">
                  <li class="sr-item"><a class="sr-link" href="#">Школа бокса</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа спортивной гимнастики</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Начальная школа Стриж</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа художественной гимнастики</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа немецкого языка</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Большая школа большого тенниса имени Юрий Гагарина</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Первая школа детской психологии</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Маленькая уютная школа для девочек</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <header class="block main-menu-block">
          <div class="content main-menu-content">
            <nav class="main-menu">
              <ul class="main-menu__list">
                <li class="main-menu__item choice mobshow"><a class="main-menu__link" href="choice.html">Выбор Kids Point</a></li>
                <li class="main-menu__item"><a class="main-menu__link active" href="events.html">Мероприятия</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="education.html">Образование</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="sport.html">Спорт</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="enter.html">Развлечения</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="beauty.html">Здоровье и красота</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="shops.html">Магазины</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="camps.html">Лагеря</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="uslugi.html">Услуги</a></li>
                <li class="main-menu__item choice mobhide"><a class="main-menu__link" href="choice.html">Выбор Kids Point</a></li>
              </ul>
            </nav>
          </div>
        </header>
    <div class="preloader"><img class="preload-cat" src="img/illustrations/preload-cat.svg">
      <div class="bim"></div>
    </div>
    <main>
      <div class="popup-wrapper" id="otherCityPopup">
        <div class="popup">
          <div class="close-popup"></div><img class="cat-pop-ill" src="img/illustrations/city-popup.svg">
          <h3 class="popup-title smaller-title">Немного терпения!</h3>
          <p class="popup-text common-text">Пока мы работаем только в&nbsp;Москве,<br> но&nbsp;скоро ситуация изменится</p>
          <div class="blue-btn big-btn popup-btn just-close-btn">Я просто смотрю</div>
        </div>
      </div>
      <div class="filter-darkner"></div>
      <!--include ./components/blocks/categ-filters
      -->
      <div class="block categ-banner-block">
        <div class="content">
          <div class="banner-info-part">
            <h1 class="banner-title wu">Мероприятия</h1>
            <p class="undertitle">Самые интересные, крутые и активные<br> занятия на каждый день</p>
            <ul class="breadcrumbs">
              <li><a href="index.html">Главная /</a></li>
              <li class="active"><a href="education.html">Мероприятия</a></li>
            </ul>
          </div><img class="categ-ill events-ill" src="img/illustrations/events-ill.svg">
        </div>
      </div>
      <div class="block categ-filter-header" id="cf">
        <div class="content">
          <div class="red-btn big-btn open-filters mobhide">Открыть фильтры</div><a class="red-btn big-btn open-filters mobshow" href="#cf"></a>
          <div class="comp-sort">
            <div class="city-selection-block sort" id="categSort">
              <ul class="cs-list">
                <li class="cs-item"><a class="cs-link" href="#">Алфавиту</a></li>
                <li class="cs-item"><a class="cs-link" href="#">Рейтингу</a></li>
              </ul>
            </div>
            <p class="r-def-phrase">Сортировать по:</p>
            <div class="sort-blue" id="sortDef">Дате</div>
          </div>
          <ul class="list-map">
            <li class="list-btn active">Списком</li>
            <li class="map-btn">На карте</li>
          </ul>
          <div class="tab-container">
            <ul class="filters-tabs">
              <li class="filter-tab"><a href="#categoryFilters">Категории</a></li>
              <li class="filter-tab selected"><a href="#placeFilters">Место</a></li>
              <li class="filter-tab"><a href="#ageFilters">Возраст</a></li>
              <li class="filter-tab"><a href="#priceFilters">Стоимость</a></li>
              <li class="filter-tab"><a href="#dateFilters">Дата</a></li>
              <li class="filter-tab"><a href="#otherFilters">Ещё</a></li>
            </ul>
            <div class="one-filter-plate" id="categoryFilters">
              <ul class="many-filters-list">
                <li>Концерты</li>
                <li>Спектакли</li>
                <li>Мастер-классы</li>
                <li>Выставки</li>
                <li>Кино</li>
                <li>События в городе</li>
                <li>Фестивали</li>
                <li>Экскурсии</li>
                <li>Другое</li>
              </ul>
            </div>
            <div class="one-filter-plate" id="placeFilters">
              <input class="checkbox" id="nextToMe" type="checkbox" hidden="hidden" name="nextToMe">
              <label class="chb-label" for="nextToMe">Рядом со мной</label><span class="or">или</span>
              <div class="s-wrap f-wr where">
                <select class="indexMetro" name="Where">
                  <option></option>
                  <option value="Черкизовская">Черкизовская</option>
                  <option value="Преображенская площадь">Преображенская площадь</option>
                  <option value="Маяковская">Маяковская</option>
                  <option value="Спортивная">Спортивная</option>
                  <option value="Б. Баррикадная">Б. Баррикадная</option>
                  <option value="Разумовская">Разумовская</option>
                </select>
              </div><span class="or">или</span>
              <input class="common-input filter-input filter-adress" placeholder="Адрес">
            </div>
            <div class="one-filter-plate" id="ageFilters">
              <ul class="many-filters-list bigger inline">
                <li>от 0 до 3</li>
                <li>от 4 до 8</li>
                <li>от 9 до 12</li>
                <li>от 13 до 17</li>
              </ul>
              <div class="chb-line">
                <input class="checkbox" id="anyAge" type="checkbox" hidden="hidden" name="anyAge">
                <label class="chb-label" for="anyAge">Любой</label>
              </div>
            </div>
            <div class="one-filter-plate" id="priceFilters">
              <input class="checkbox" id="anyPrice" type="checkbox" hidden="hidden" name="anyPrice">
              <label class="chb-label" for="anyPrice">Любая стоимость</label>
              <input class="slider-input" type="hidden" value="0">
            </div>
            <div class="one-filter-plate" id="dateFilters">
              <input class="checkbox" id="closestDate" type="checkbox" hidden="hidden" name="closestDate">
              <label class="chb-label" for="closestDate">Ближайшая дата</label><span class="or">или</span>
              <div class="fi-wrap f-wr">
                <input class="datepicker-here filter-input when" type="text" data-range="true" data-multiple-dates-separator=" - " placeholder="Когда?">
              </div>
            </div>
            <div class="one-filter-plate" id="otherFilters">
              <div class="chb-line">
                <input class="checkbox" id="speakEnglish" type="checkbox" hidden="hidden" name="speakEnglish">
                <label class="chb-label" for="speakEnglish">Говорят по-английски</label>
              </div>
              <div class="chb-line">
                <input class="checkbox" id="openNow" type="checkbox" hidden="hidden" name="openNow">
                <label class="chb-label" for="openNow">Открыто сейчас</label>
              </div>
              <div class="chb-line">
                <input class="checkbox" id="sickKid" type="checkbox" hidden="hidden" name="sickKid">
                <label class="chb-label" for="sickKid">Для детей с ограниченными возможностями</label>
              </div>
              <div class="chb-line">
                <input class="checkbox" id="parking" type="checkbox" hidden="hidden" name="parking">
                <label class="chb-label" for="parking">Парковка</label>
              </div>
            </div>
          </div>
          <div class="apply-reset-filters"><a class="reset-filters" href="#">Сбросить фильтры</a>
            <button class="red-btn big-btn">Показать 56 вариантов</button>
          </div>
        </div>
      </div>
      <div class="block categ-cards-block">
        <div class="content">
          <div class="map-itself">
            <div class="marker one"></div>
            <div class="marker two"></div>
            <div class="marker three"></div>
            <div class="marker four"></div>
            <div class="marker five"></div>
            <div class="marker six"></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577325.3466010405!2d36.82513586830873!3d55.58152446697099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1538220309900" frameborder="0" style="border:0" allowfullscreen=""></iframe>
          </div>
          <div class="map-scroller mCustomScrollbar" data-mcs-axis="y">
            <div class="fake-margin"></div><a class="one-plate common-plate event-plate" id="hig" href="event-com-card.html">
              <div class="com-pic-area">
                <div class="p-dark"></div><img class="ab-img" src="img/post-pics/events/1.jpg">
                <div class="labels"><span class="c-type label">Концерт</span></div>
              </div>
              <div class="com-info-area">
                <h2 class="smaller-title com-title">Сергей Жуков для детей</h2><span class="label raiting good">4.1</span>
                <ul class="com-chars">
                  <li class="date">18 ноября</li>
                  <li class="age">с 3 лет</li>
                  <li class="price">700</li>
                  <li class="location">м. Баррикадная, ул. Зоологическая, 7</li>
                  <li class="time">14:00</li>
                </ul>
              </div></a><a class="one-plate common-plate event-plate" href="event-com-card.html">
              <div class="com-pic-area">
                <div class="p-dark"></div><img class="ab-img" src="img/post-pics/events/2.jpg">
                <div class="labels"><span class="c-type label">Ярмарка</span><span class="c-type label free">Бесплатно</span></div>
              </div>
              <div class="com-info-area">
                <h2 class="smaller-title com-title">Дари Добро Людям</h2><span class="label raiting bad">3.4</span>
                <ul class="com-chars">
                  <li class="date">19 ноября</li>
                  <li class="age">с 0 лет</li>
                  <li class="price">Бесплатно</li>
                  <li class="location">м. Спортивная ул. Петрова, 4</li>
                  <li class="time">10:00 - 17:00</li>
                </ul>
              </div></a><a class="one-plate common-plate event-plate" href="event-com-card.html">
              <div class="com-pic-area">
                <div class="p-dark"></div><img class="ab-img" src="img/post-pics/events/3.jpg">
                <div class="labels"><span class="c-type label">Экскурсия</span><span class="c-type label free">Бесплатно</span><span class="c-type label best">Лучшее</span></div>
              </div>
              <div class="com-info-area">
                <h2 class="smaller-title com-title">Прогулка по центру Москвы</h2><span class="label raiting good">5.0</span>
                <ul class="com-chars">
                  <li class="date">25 ноября</li>
                  <li class="age">с 6 лет</li>
                  <li class="price">Бесплатно</li>
                  <li class="location">м. Маяковская, ул. Кипера, 123</li>
                  <li class="time">12:00</li>
                </ul>
              </div></a><a class="one-plate common-plate event-plate" href="event-com-card.html">
              <div class="com-pic-area">
                <div class="p-dark"></div><img class="ab-img" src="img/post-pics/events/4.jpg">
                <div class="labels"><span class="c-type label">Выставка</span></div>
              </div>
              <div class="com-info-area">
                <h2 class="smaller-title com-title">Фрески и мозаики</h2><span class="label raiting good">4.3</span>
                <ul class="com-chars">
                  <li class="date">29 ноября</li>
                  <li class="age">с 0 лет</li>
                  <li class="price">200</li>
                  <li class="location">м. Тверская, ул. Курова, 56</li>
                  <li class="time">12:00</li>
                </ul>
              </div></a><a class="one-plate common-plate event-plate" href="event-com-card.html">
              <div class="com-pic-area">
                <div class="p-dark"></div><img class="ab-img" src="img/post-pics/events/5.jpg">
                <div class="labels"><span class="c-type label">Фестиваль</span></div>
              </div>
              <div class="com-info-area">
                <h2 class="smaller-title com-title">Уличные гонки</h2><span class="label raiting bad">3.0</span>
                <ul class="com-chars">
                  <li class="date">21 ноября</li>
                  <li class="age">с 6 лет</li>
                  <li class="price">500</li>
                  <li class="location">м. Спортивная ул. Кирова, 14</li>
                  <li class="time">11:00</li>
                </ul>
              </div></a><a class="one-plate common-plate event-plate" href="event-com-card.html">
              <div class="com-pic-area">
                <div class="p-dark"></div><img class="ab-img" src="img/post-pics/events/6.jpg">
                <div class="labels"><span class="c-type label">Спектакль</span></div>
              </div>
              <div class="com-info-area">
                <h2 class="smaller-title com-title">Буратино</h2><span class="label raiting good">4.1</span>
                <ul class="com-chars">
                  <li class="date">11 ноября</li>
                  <li class="age">с 3 лет</li>
                  <li class="price">1 200</li>
                  <li class="location">м. Московская, ул. Баумана, 12</li>
                  <li class="time">14:30</li>
                </ul>
              </div></a>
            <div class="clearfix"></div>
          </div><a class="showmore-ksc blue-btn big-btn mm" href="#">Показать еще</a>
        </div>
      </div>
      <div class="block">
        <div class="content">
          <div class="see-also">
            <h2 class="block-title">Kids Point также советует</h2>
            <div class="ks-three"><a class="one-plate common-plate" href="com-card.html">
                <div class="com-pic-area">
                  <div class="p-dark"></div><img class="ab-img" src="img/post-pics/rec/1.jpg">
                  <div class="labels"><span class="c-type label">Аквапарк</span></div>
                </div>
                <div class="com-info-area">
                  <h2 class="smaller-title com-title">Аквапарк Лимпопо</h2><span class="label raiting good">4.8</span>
                  <ul class="com-chars">
                    <li class="age">с 6 лет</li>
                    <li class="price">1 500</li>
                    <li class="location">м. Ленина, ул. Городская, 45</li>
                    <li class="time">8:00 - 19:00</li>
                  </ul>
                </div></a><a class="one-plate common-plate" href="com-card.html">
                <div class="com-pic-area">
                  <div class="p-dark"></div><img class="ab-img" src="img/post-pics/rec/2.jpg">
                  <div class="labels"><span class="c-type label">Борьба</span><span class="best label">Лучшее</span></div>
                </div>
                <div class="com-info-area">
                  <h2 class="smaller-title com-title">Борись, детка</h2><span class="label raiting good">5.0</span>
                  <ul class="com-chars">
                    <li class="age">с 5 лет</li>
                    <li class="price">7 000 в месяц</li>
                    <li class="location">м. Баумана, ул. Вафина, 278/А</li>
                    <li class="time">7:00 - 21:00</li>
                  </ul>
                </div></a><a class="one-plate common-plate" href="com-card.html">
                <div class="com-pic-area">
                  <div class="p-dark"></div><img class="ab-img" src="img/post-pics/rec/3.jpg">
                  <div class="labels"><span class="c-type label">Парк развлечений</span><span class="free label">Бесплатно</span></div>
                </div>
                <div class="com-info-area">
                  <h2 class="smaller-title com-title">Юность</h2><span class="label raiting good">4.4</span>
                  <ul class="com-chars">
                    <li class="age">с 0 лет</li>
                    <li class="price">Бесплатно</li>
                    <li class="location">м. Одинцово, ул. Фактурная, 89</li>
                    <li class="time">Круглосуточно</li>
                  </ul>
                </div></a>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="block form-block">
        <div class="content">
          <h2 class="block-title">Мы с удовольствием<br> добавим вашу компанию</h2>
          <form class="add-company-form">
            <div class="form-col">
              <input class="common-input" type="text" placeholder="Название *">
              <input class="common-input" type="text" placeholder="Сфера деятельности *">
              <input class="common-input" type="text" placeholder="ОГРН/ОГРНИП">
              <input class="common-input" type="text" placeholder="ИНН/ИННИП">
              <input class="common-input" type="text" placeholder="Адрес сайта">
            </div>
            <div class="form-col">
              <input class="common-input" type="email" placeholder="Email *">
              <input class="common-input" type="text" placeholder="Фактический адрес *">
              <input class="common-input" type="text" placeholder="Телефон">
              <input class="common-input" type="text" placeholder="Время работы">
              <input class="red-btn" type="submit" value="Отправить заявку">
            </div>
            <p class="userag-line">Регистрируя вашу компанию на сервисе Kids Point,<br> вы принимаете условия
              <a class="blue-link" href="userag.html">пользовательского соглашения</a>
            </p>
          </form>
        </div>
      </div>
      <div class="block send-mail-block">
        <div class="content">
          <div class="sm-text-area">
            <h1 class="banner-title">Еженедельная рассылка Kids Point</h1>
            <p class="undertitle mt">О лучших детских развлечениях недели</p>
            <form class="sm-form">
              <input class="common-input" type="email" placeholder="Ваш Email">
              <input class="red-btn big-btn" type="submit" value="Подписаться">
            </form>
            <p class="small-banner-info">Подписываясь на рассылку, вы соглашаетесь на получение информационных<br> и рекламных сообщений в соответствии с
              <a class="blue-dashed-link" href="rass.html">правилами рассылок</a>
            </p>
          </div><img class="send-mail-pic" src="img/illustrations/mail-sending.svg">
        </div>
      </div>
            <footer class="block page-footer">
              <div class="content"><a href="index.html"><img class="footer-logo" src="img/misc/logo-vert.svg"></a>
                <ul class="footer-col">
                  <li><a href="about.html">О компании</a></li>
                  <li><a href="smi.html">СМИ о нас</a></li>
                </ul>
                <ul class="footer-col">
                  <li><a href="reklama.html">Реклама</a></li>
                  <li><a href="contacts.html">Контакты</a></li>
                </ul>
                <ul class="footer-col">
                  <li><a href="userag.html">Пользовательское соглашение</a></li>
                  <li><a href="rass.html">Правила рассылок</a></li>
                </ul>
                <ul class="footer-col sn">
                  <li><a class="fb" href="#" target="_blank"></a></li>
                  <li><a class="vk" href="#" target="_blank"></a></li>
                  <li><a class="ok" href="#" target="_blank"></a></li>
                  <li><a class="tw" href="#" target="_blank"></a></li>
                </ul>
                <p class="copyright">Kids Point, 2018</p>
              </div>
            </footer>
      <div class="block seo-block">
        <div class="content">
          <p class="seo-col">Ребёнок (множ. дети) — в основном значении, человек в период детства. Возрастные границы детства разнятся в различных культурах, теориях жизненного цикла и юридических системах. В общем случае ребёнком называют человека от рождения.</p>
          <p class="seo-col">До окончания пубертатного периода. Де́вочка — ребёнок женского пола; ма́льчик — ребёнок мужского пола. Раздел медицины, посвящённый детскому здоровью, называется педиатрия. Русское слово «ребёнок» происходят от др.</p>
          <p class="seo-col">В России Пётр I издаёт указ «О строении в Москве госпиталей для помещения незаконнорождённых младенцев и о даче им и их кормилицам денежного жалования». Позже М. В. Ломоносов высказывает.</p>
        </div>
      </div>
    </main>
    <script src="js/main.js"></script>
    <script src="js/jquery.range.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  </body>
</html>

pug/events.pug
extends template

block title
    title Мероприятия


block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isIndexPage: true, activePage: 'events.html'})

block content
    main
        include ./components/popups/other-city-popup
        .filter-darkner
        //
            include ./components/blocks/categ-filters
        .block.categ-banner-block
            .content
                .banner-info-part
                    h1.banner-title.wu Мероприятия
                    p.undertitle
                        | Самые интересные, крутые и активные
                        br
                        |  занятия на каждый день
                    ul.breadcrumbs
                        li
                            a(href="index.html") Главная /
                        li.active
                            a(href="education.html") Мероприятия

                img.categ-ill.events-ill(src="img/illustrations/events-ill.svg")

        include ./components/filters/events-filters

        .block.categ-cards-block
            .content
                .map-itself
                    .marker.one
                    .marker.two
                    .marker.three
                    .marker.four
                    .marker.five
                    .marker.six
                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577325.3466010405!2d36.82513586830873!3d55.58152446697099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1538220309900' frameborder='0' style='border:0' allowfullscreen='')

                .map-scroller.mCustomScrollbar(data-mcs-axis="y")
                    .fake-margin

                    a.one-plate.common-plate.event-plate#hig(href="event-com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/events/1.jpg")
                            .labels
                                span.c-type.label Концерт
                        .com-info-area
                            h2.smaller-title.com-title Сергей Жуков для детей
                            span.label.raiting.good 4.1
                            ul.com-chars
                                li.date 18 ноября
                                li.age с 3 лет
                                li.price 700
                                li.location м. Баррикадная, ул. Зоологическая, 7
                                li.time 14:00

                    a.one-plate.common-plate.event-plate(href="event-com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/events/2.jpg")
                            .labels
                                span.c-type.label Ярмарка
                                span.c-type.label.free Бесплатно
                        .com-info-area
                            h2.smaller-title.com-title Дари Добро Людям
                            span.label.raiting.bad 3.4
                            ul.com-chars
                                li.date 19 ноября
                                li.age с 0 лет
                                li.price Бесплатно
                                li.location м. Спортивная ул. Петрова, 4
                                li.time 10:00 - 17:00

                    a.one-plate.common-plate.event-plate(href="event-com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/events/3.jpg")
                            .labels
                                span.c-type.label Экскурсия
                                span.c-type.label.free Бесплатно
                                span.c-type.label.best Лучшее
                        .com-info-area
                            h2.smaller-title.com-title Прогулка по центру Москвы
                            span.label.raiting.good 5.0
                            ul.com-chars
                                li.date 25 ноября
                                li.age с 6 лет
                                li.price Бесплатно
                                li.location м. Маяковская, ул. Кипера, 123
                                li.time 12:00

                    a.one-plate.common-plate.event-plate(href="event-com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/events/4.jpg")
                            .labels
                                span.c-type.label Выставка
                        .com-info-area
                            h2.smaller-title.com-title Фрески и мозаики
                            span.label.raiting.good 4.3
                            ul.com-chars
                                li.date 29 ноября
                                li.age с 0 лет
                                li.price 200
                                li.location м. Тверская, ул. Курова, 56
                                li.time 12:00

                    a.one-plate.common-plate.event-plate(href="event-com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/events/5.jpg")
                            .labels
                                span.c-type.label Фестиваль
                        .com-info-area
                            h2.smaller-title.com-title Уличные гонки
                            span.label.raiting.bad 3.0
                            ul.com-chars
                                li.date 21 ноября
                                li.age с 6 лет
                                li.price 500
                                li.location м. Спортивная ул. Кирова, 14
                                li.time 11:00


                    a.one-plate.common-plate.event-plate(href="event-com-card.html")
                        .com-pic-area
                            .p-dark
                            img.ab-img(src="img/post-pics/events/6.jpg")
                            .labels
                                span.c-type.label Спектакль
                        .com-info-area
                            h2.smaller-title.com-title Буратино
                            span.label.raiting.good 4.1
                            ul.com-chars
                                li.date 11 ноября
                                li.age с 3 лет
                                li.price 1 200
                                li.location м. Московская, ул. Баумана, 12
                                li.time 14:30

                    .clearfix

                a.showmore-ksc.blue-btn.big-btn.mm(href="#") Показать еще


        .block
            .content
                .see-also
                    h2.block-title Kids Point также советует
                    .ks-three
                        a.one-plate.common-plate(href="com-card.html")
                            .com-pic-area
                                .p-dark
                                img.ab-img(src="img/post-pics/rec/1.jpg")
                                .labels
                                    span.c-type.label Аквапарк
                            .com-info-area
                                h2.smaller-title.com-title Аквапарк Лимпопо
                                span.label.raiting.good 4.8
                                ul.com-chars
                                    li.age с 6 лет
                                    li.price 1 500
                                    li.location м. Ленина, ул. Городская, 45
                                    li.time 8:00 - 19:00

                        a.one-plate.common-plate(href="com-card.html")
                            .com-pic-area
                                .p-dark
                                img.ab-img(src="img/post-pics/rec/2.jpg")
                                .labels
                                    span.c-type.label Борьба
                                    span.best.label Лучшее
                            .com-info-area
                                h2.smaller-title.com-title Борись, детка
                                span.label.raiting.good 5.0
                                ul.com-chars
                                    li.age с 5 лет
                                    li.price 7 000 в месяц
                                    li.location м. Баумана, ул. Вафина, 278/А
                                    li.time 7:00 - 21:00

                        a.one-plate.common-plate(href="com-card.html")
                            .com-pic-area
                                .p-dark
                                img.ab-img(src="img/post-pics/rec/3.jpg")
                                .labels
                                    span.c-type.label Парк развлечений
                                    span.free.label Бесплатно
                            .com-info-area
                                h2.smaller-title.com-title Юность
                                span.label.raiting.good 4.4
                                ul.com-chars
                                    li.age с 0 лет
                                    li.price Бесплатно
                                    li.location м. Одинцово, ул. Фактурная, 89
                                    li.time Круглосуточно

                        .clearfix

        include ./components/blocks/form-block
        include ./components/blocks/send-mail





        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo
