pug/index.pug
extends template

block title
    title Kids Point


block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isWhite: true, isIndexPage: true})

block content
    main
        include ./components/popups/other-city-popup
        include ./components/popups/no-results
        .block.index-banner-block
            .content
                img.just-ab.index-bg(src="img/illustrations/index-bg.svg")
                img.just-ab.index-guys(src="img/illustrations/index-guys.svg")
                img.just-ab.index-hand(src="img/illustrations/index-hand.svg")
                img.just-ab.index-tail(src="img/illustrations/index-tail.svg")
                img.just-ab.index-eyes(src="img/illustrations/index-eyes.svg")
                img.just-ab.index-mob-ill.mobshow(src="img/illustrations/index-ill-mob.svg")

                .p-scene#scene
                    img.snowflakes(src="img/illustrations/snowflakes.svg", data-depth="0.3")
                    img.snowflakes22(src="img/illustrations/snowflakes-2.svg", data-depth="0.5")
                //
                    img.just-ab(src="img/illustrations/index-ill.svg")
                h1.banner-title.index-title Куда сходить с&nbsp;ребенком?
                .small-banner-info
                    p
                        | Сервис Kids Point помогает родителям
                        br
                        |  каждый день находить интересные занятия
                        br
                        |  для своих детей. Удобно и быстро.
                    p.wm
                        | Образование и развитие ваших детей
                        br
                        |  также являются нашей основной задачей
                include ./components/fragments/index-filters

        include ./components/fragments/choice-preview
        include ./components/fragments/ent-lines
        include ./components/fragments/edu-lines
        include ./components/fragments/sport-lines
        include ./components/blocks/form-block

        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo

        script(src='https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js')
        script.
            var scene = document.getElementById('scene');
            var parallaxInstance = new Parallax(scene);

app/index.html
<!DOCTYPE html>
<html class="no-js" lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kids Point</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
        <header class="block page-header">
          <div class="content"><a href="index.html"><img class="header-logo" src="img/misc/logo-hor.svg"></a>
            <div class="region-selection">
              <div class="city-selection-block" id="citySelect">
                <ul class="cs-list">
                  <li class="cs-item" id="otherRegion"><a class="cs-link" href="#">Другой регион</a></li>
                  <li class="cs-item" id="mscRegion"><a class="cs-link" href="#">Москва и Мос. обл.</a></li>
                </ul>
              </div>
              <p class="r-def-phrase city-def-phrase">Ваш регион Москва или Мос. область?</p>
              <div class="yes-no-and-reg">
                <div class="yesno"><span class="yes">Да</span><span class="no">Нет</span></div>
                <div class="city-defined msc mobhide">Москва и Мос. обл.</div>
                <div class="city-defined msc mobshow visible">Москва и Мос. обл.</div>
                <div class="city-defined other">Другой регион</div>
              </div>
            </div>
            <div class="header-search-block">
              <div class="mobile-search-btn"></div>
              <input class="common-input" id="headerSearch" type="search" placeholder="Я хочу найти...">
              <div class="search-results-block" id="searchResults">
                <ul class="sr-list">
                  <li class="sr-item"><a class="sr-link" href="#">Школа бокса</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа спортивной гимнастики</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Начальная школа Стриж</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа художественной гимнастики</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа немецкого языка</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Большая школа большого тенниса имени Юрий Гагарина</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Первая школа детской психологии</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Маленькая уютная школа для девочек</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <header class="block main-menu-block">
          <div class="content main-menu-content">
            <nav class="main-menu">
              <ul class="main-menu__list">
                <li class="main-menu__item choice mobshow"><a class="main-menu__link" href="choice.html">Выбор Kids Point</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="events.html">Мероприятия</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="education.html">Образование</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="sport.html">Спорт</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="enter.html">Развлечения</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="beauty.html">Здоровье и красота</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="shops.html">Магазины</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="camps.html">Лагеря</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="uslugi.html">Услуги</a></li>
                <li class="main-menu__item choice mobhide"><a class="main-menu__link" href="choice.html">Выбор Kids Point</a></li>
              </ul>
            </nav>
          </div>
        </header>
    <div class="preloader"><img class="preload-cat" src="img/illustrations/preload-cat.svg">
      <div class="bim"></div>
    </div>
    <main>
      <div class="popup-wrapper" id="otherCityPopup">
        <div class="popup">
          <div class="close-popup"></div><img class="cat-pop-ill" src="img/illustrations/city-popup.svg">
          <h3 class="popup-title smaller-title">Немного терпения!</h3>
          <p class="popup-text common-text">Пока мы работаем только в&nbsp;Москве,<br> но&nbsp;скоро ситуация изменится</p>
          <div class="blue-btn big-btn popup-btn just-close-btn">Я просто смотрю</div>
        </div>
      </div>
      <div class="popup-wrapper" id="noSearchResults">
        <div class="popup">
          <div class="close-popup"></div><img class="cat-pop-ill" src="img/illustrations/no-search-results.svg">
          <h3 class="popup-title smaller-title">Увы, такого нет :(</h3>
          <p class="popup-text common-text">Попробуйте изменить<br> условия поиска в&nbsp;фильтрах</p>
          <div class="blue-btn big-btn popup-btn just-close-btn ponyatno">Понятно, сейчас</div>
        </div>
      </div>
      <div class="block index-banner-block">
        <div class="content"><img class="just-ab index-bg" src="img/illustrations/index-bg.svg"><img class="just-ab index-guys" src="img/illustrations/index-guys.svg"><img class="just-ab index-hand" src="img/illustrations/index-hand.svg"><img class="just-ab index-tail" src="img/illustrations/index-tail.svg"><img class="just-ab index-eyes" src="img/illustrations/index-eyes.svg"><img class="just-ab index-mob-ill mobshow" src="img/illustrations/index-ill-mob.svg">
          <div class="p-scene" id="scene"><img class="snowflakes" src="img/illustrations/snowflakes.svg" data-depth="0.3"><img class="snowflakes22" src="img/illustrations/snowflakes-2.svg" data-depth="0.5"></div>
          <!--img.just-ab(src="img/illustrations/index-ill.svg")
          -->
          <h1 class="banner-title index-title">Куда сходить с&nbsp;ребенком?</h1>
          <div class="small-banner-info">
            <p>Сервис Kids Point помогает родителям<br> каждый день находить интересные занятия<br> для своих детей. Удобно и быстро.</p>
            <p class="wm">Образование и развитие ваших детей<br> также являются нашей основной задачей</p>
          </div>
          <div class="index-filters-block">
            <div class="fi-wrap f-wr">
              <input class="datepicker-here filter-input when" type="text" data-range="true" data-multiple-dates-separator=" - " placeholder="Когда?" readonly="true">
            </div>
            <div class="s-wrap f-wr where">
              <select class="indexWhen" name="Where">
                <option></option>
                <option value="Не важно">Не важно</option>
                <option value="Рядом со мной">Рядом со мной</option>
                <optgroup label="Станция метро"></optgroup>
                <option value="Черкизовская">Черкизовская</option>
                <option value="Преображенская площадь">Преображенская площадь</option>
                <option value="Маяковская">Маяковская</option>
                <option value="Спортивная">Спортивная</option>
                <option value="Б. Баррикадная">Б. Баррикадная</option>
                <option value="Разумовская">Разумовская</option>
              </select>
            </div>
            <div class="s-wrap f-wr what">
              <select class="indexWhat" name="What">
                <option></option>
                <option value="Любой">Любой</option>
                <option value="Ярмарка">Ярмарка</option>
                <option value="Концерт">Концерт</option>
                <option value="Спектакль">Спектакль</option>
                <option value="Выставка">Выставка</option>
                <option value="События в городе">События в городе</option>
                <option value="Экскурсия">Экскурсия</option>
              </select>
            </div>
            <div class="s-wrap f-wr age">
              <select class="indexAge" name="What">
                <option></option>
                <option value="Любой">Любой</option>
                <option value="от 0 до 3">от 0 до 3</option>
                <option value="от 4 до 8">от 4 до 8</option>
                <option value="От 9 до 12">От 9 до 12</option>
                <option value="от 13 до 17">от 13 до 17</option>
              </select>
            </div>
            <input class="red-btn big-btn gosearch" type="submit" value="Найти">
          </div>
        </div>
      </div>
      <div class="block choice-preview lines-block lm">
        <div class="content">
          <h2 class="block-title">Выбор Kids Point</h2><a class="one-plate choice-plate short-plate" href="one-choice.html">
            <div class="p-dark"></div><img class="ab-img" src="img/post-pics/sel-1.jpg"><span class="choice-info"><span class="choice-num">7</span><span class="next-to-num"><span class="choice-numword">музеев</span><span class="choice-desc">в которых ваш ребенок не уснет</span></span></span></a><a class="one-plate choice-plate short-plate" href="one-choice.html">
            <div class="p-dark"></div><img class="ab-img" src="img/post-pics/sel-2.jpg"><span class="choice-info"><span class="choice-num">13</span><span class="next-to-num"><span class="choice-numword">мест</span><span class="choice-desc">для непосед в Москве</span></span></span></a><a class="one-plate choice-plate long-plate" href="one-choice.html">
            <div class="p-dark"></div><img class="ab-img" src="img/post-pics/sel-3.jpg"><span class="choice-info"><span class="choice-num">20</span><span class="next-to-num"><span class="choice-numword">ресторанов</span><span class="choice-desc">в которых ваши дети найдут, чем заняться</span></span></span></a>
          <div class="clearfix"></div><a class="see-more-btn blue-btn" href="choice.html">Посмотреть все</a>
        </div>
      </div>
      <div class="block choice-preview lines-block">
        <div class="content">
          <h2 class="block-title">Развлечения</h2><a class="one-plate common-plate" href="com-card.html">
            <div class="com-pic-area">
              <div class="p-dark"></div><img class="ab-img" src="img/post-pics/ent-1.jpg">
              <div class="labels"><span class="c-type label">Батут</span></div>
            </div>
            <div class="com-info-area">
              <h2 class="smaller-title com-title">Батутный центр на тверской</h2><span class="label raiting good">4.1</span>
              <ul class="com-chars">
                <li class="age">с 3 лет</li>
                <li class="price">300 в час</li>
                <li class="location">м. Баррикадная, ул. Зоологическая, 2</li>
                <li class="time">9:00 - 22:00</li>
              </ul>
            </div></a><a class="one-plate common-plate" href="com-card.html">
            <div class="com-pic-area">
              <div class="p-dark"></div><img class="ab-img" src="img/post-pics/ent-2.jpg">
              <div class="labels"><span class="c-type label">Лепка</span></div>
            </div>
            <div class="com-info-area">
              <h2 class="smaller-title com-title">Лепим сами</h2><span class="label raiting good">4.4</span>
              <ul class="com-chars">
                <li class="age">с 0 лет</li>
                <li class="price">3 000 в месяц</li>
                <li class="location">м. Спортивная, ул. Ловина, 2</li>
                <li class="time">7:00 - 20:00</li>
              </ul>
            </div></a><a class="one-plate common-plate" href="com-card.html">
            <div class="com-pic-area">
              <div class="p-dark"></div><img class="ab-img" src="img/post-pics/ent-3.jpg">
              <div class="labels"><span class="c-type label">Театральный кружок</span></div>
            </div>
            <div class="com-info-area">
              <h2 class="smaller-title com-title">Потенциал</h2><span class="label raiting bad">3.0</span>
              <ul class="com-chars">
                <li class="age">с 5 лет</li>
                <li class="price">7 000 в месяц</li>
                <li class="location">м. Строгино, ул. Пушкина, 24</li>
                <li class="time">10:00 - 21:00</li>
              </ul>
            </div></a>
          <div class="clearfix"></div><a class="see-more-btn blue-btn" href="enter.html">Посмотреть все</a>
        </div>
      </div>
      <div class="block choice-preview lines-block">
        <div class="content">
          <h2 class="block-title">Образование</h2><a class="one-plate common-plate" href="com-card.html">
            <div class="com-pic-area">
              <div class="p-dark"></div><img class="ab-img" src="img/post-pics/edu-1.jpg">
              <div class="labels"><span class="c-type label">Школа</span></div>
            </div>
            <div class="com-info-area">
              <h2 class="smaller-title com-title">Восемь ключей</h2><span class="label raiting bad">3.3</span>
              <ul class="com-chars">
                <li class="age">с 6 лет</li>
                <li class="price">100 000 - 200 000 в год</li>
                <li class="location">м. Ленина, ул. Городская, 45</li>
                <li class="time">8:00 - 19:00</li>
              </ul>
            </div></a><a class="one-plate common-plate" href="com-card.html">
            <div class="com-pic-area">
              <div class="p-dark"></div><img class="ab-img" src="img/post-pics/edu-2.jpg">
              <div class="labels"><span class="c-type label">Дет. сад</span></div>
            </div>
            <div class="com-info-area">
              <h2 class="smaller-title com-title">Малышня</h2><span class="label raiting good">4.8</span>
              <ul class="com-chars">
                <li class="age">с 0 лет</li>
                <li class="price">300 000 - 320 000 в год</li>
                <li class="location">м. Баумана, ул. Вафина, 278/А</li>
                <li class="time">7:00 - 21:00</li>
              </ul>
            </div></a><a class="one-plate common-plate" href="com-card.html">
            <div class="com-pic-area">
              <div class="p-dark"></div><img class="ab-img" src="img/post-pics/edu-3.jpg">
              <div class="labels"><span class="c-type label">Языковые курсы</span><span class="best label">Лучшее</span></div>
            </div>
            <div class="com-info-area">
              <h2 class="smaller-title com-title">Юные лингвисты</h2><span class="label raiting good">5.0</span>
              <ul class="com-chars">
                <li class="age">с 3 лет</li>
                <li class="price">12 000 в месяц</li>
                <li class="location">м. Одинцово, ул. Фактурная, 89</li>
                <li class="time">10:00 - 20:00</li>
              </ul>
            </div></a>
          <div class="clearfix"></div><a class="see-more-btn blue-btn" href="education.html">Посмотреть все</a>
        </div>
      </div>
      <div class="block choice-preview lines-block">
        <div class="content">
          <h2 class="block-title">Спорт</h2><a class="one-plate common-plate" href="com-card.html">
            <div class="com-pic-area">
              <div class="p-dark"></div><img class="ab-img" src="img/post-pics/sport-1.jpg">
              <div class="labels"><span class="c-type label">Бокс</span></div>
            </div>
            <div class="com-info-area">
              <h2 class="smaller-title com-title">Юный борец</h2><span class="label raiting good">4.3</span>
              <ul class="com-chars">
                <li class="age">с 4 лет</li>
                <li class="price">9 000 в месяц</li>
                <li class="location">м. Ленина, ул. Иванова, 54</li>
                <li class="time">8:00 - 21:00</li>
              </ul>
            </div></a><a class="one-plate common-plate" href="com-card.html">
            <div class="com-pic-area">
              <div class="p-dark"></div><img class="ab-img" src="img/post-pics/sport-2.jpg">
              <div class="labels"><span class="c-type label">Танцы</span></div>
            </div>
            <div class="com-info-area">
              <h2 class="smaller-title com-title">Я у мамы балерина</h2><span class="label raiting good">3.8</span>
              <ul class="com-chars">
                <li class="age">с 5 лет</li>
                <li class="price">7 000 в месяц</li>
                <li class="location">м. Баумана, ул. Лукина, 9</li>
                <li class="time">7:00 - 21:00</li>
              </ul>
            </div></a><a class="one-plate common-plate" href="com-card.html">
            <div class="com-pic-area">
              <div class="p-dark"></div><img class="ab-img" src="img/post-pics/sport-3.jpg">
              <div class="labels"><span class="c-type label">Большой теннис</span></div>
            </div>
            <div class="com-info-area">
              <h2 class="smaller-title com-title">Школа большого тенниса имени Гурова</h2><span class="label raiting good">3.9</span>
              <ul class="com-chars">
                <li class="age">с 5 лет</li>
                <li class="price">6 000 в месяц</li>
                <li class="location">м. Одинцово, ул. Гуревича, 34</li>
                <li class="time">10:00 - 22:00</li>
              </ul>
            </div></a>
          <div class="clearfix"></div><a class="see-more-btn blue-btn" href="sport.html">Посмотреть все</a>
        </div>
      </div>
      <div class="block form-block">
        <div class="content">
          <h2 class="block-title">Мы с удовольствием<br> добавим вашу компанию</h2>
          <form class="add-company-form">
            <div class="form-col">
              <input class="common-input" type="text" placeholder="Название *">
              <input class="common-input" type="text" placeholder="Сфера деятельности *">
              <input class="common-input" type="text" placeholder="ОГРН/ОГРНИП">
              <input class="common-input" type="text" placeholder="ИНН/ИННИП">
              <input class="common-input" type="text" placeholder="Адрес сайта">
            </div>
            <div class="form-col">
              <input class="common-input" type="email" placeholder="Email *">
              <input class="common-input" type="text" placeholder="Фактический адрес *">
              <input class="common-input" type="text" placeholder="Телефон">
              <input class="common-input" type="text" placeholder="Время работы">
              <input class="red-btn" type="submit" value="Отправить заявку">
            </div>
            <p class="userag-line">Регистрируя вашу компанию на сервисе Kids Point,<br> вы принимаете условия
              <a class="blue-link" href="userag.html">пользовательского соглашения</a>
            </p>
          </form>
        </div>
      </div>
            <footer class="block page-footer">
              <div class="content"><a href="index.html"><img class="footer-logo" src="img/misc/logo-vert.svg"></a>
                <ul class="footer-col">
                  <li><a href="about.html">О компании</a></li>
                  <li><a href="smi.html">СМИ о нас</a></li>
                </ul>
                <ul class="footer-col">
                  <li><a href="reklama.html">Реклама</a></li>
                  <li><a href="contacts.html">Контакты</a></li>
                </ul>
                <ul class="footer-col">
                  <li><a href="userag.html">Пользовательское соглашение</a></li>
                  <li><a href="rass.html">Правила рассылок</a></li>
                </ul>
                <ul class="footer-col sn">
                  <li><a class="fb" href="#" target="_blank"></a></li>
                  <li><a class="vk" href="#" target="_blank"></a></li>
                  <li><a class="ok" href="#" target="_blank"></a></li>
                  <li><a class="tw" href="#" target="_blank"></a></li>
                </ul>
                <p class="copyright">Kids Point, 2018</p>
              </div>
            </footer>
      <div class="block seo-block">
        <div class="content">
          <p class="seo-col">Ребёнок (множ. дети) — в основном значении, человек в период детства. Возрастные границы детства разнятся в различных культурах, теориях жизненного цикла и юридических системах. В общем случае ребёнком называют человека от рождения.</p>
          <p class="seo-col">До окончания пубертатного периода. Де́вочка — ребёнок женского пола; ма́льчик — ребёнок мужского пола. Раздел медицины, посвящённый детскому здоровью, называется педиатрия. Русское слово «ребёнок» происходят от др.</p>
          <p class="seo-col">В России Пётр I издаёт указ «О строении в Москве госпиталей для помещения незаконнорождённых младенцев и о даче им и их кормилицам денежного жалования». Позже М. В. Ломоносов высказывает.</p>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
      <script>
        var scene = document.getElementById('scene');
        var parallaxInstance = new Parallax(scene);
      </script>
    </main>
    <script src="js/main.js"></script>
    <script src="js/jquery.range.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  </body>
</html>
