app/one-choice.html
<!DOCTYPE html>
<html class="no-js" lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Выбор Kids Point</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
        <header class="block page-header">
          <div class="content"><a href="index.html"><img class="header-logo" src="img/misc/logo-hor.svg"></a>
            <div class="region-selection">
              <div class="city-selection-block" id="citySelect">
                <ul class="cs-list">
                  <li class="cs-item" id="otherRegion"><a class="cs-link" href="#">Другой регион</a></li>
                  <li class="cs-item" id="mscRegion"><a class="cs-link" href="#">Москва и Мос. обл.</a></li>
                </ul>
              </div>
              <p class="r-def-phrase city-def-phrase">Ваш регион Москва или Мос. область?</p>
              <div class="yes-no-and-reg">
                <div class="yesno"><span class="yes">Да</span><span class="no">Нет</span></div>
                <div class="city-defined msc mobhide">Москва и Мос. обл.</div>
                <div class="city-defined msc mobshow visible">Москва и Мос. обл.</div>
                <div class="city-defined other">Другой регион</div>
              </div>
            </div>
            <div class="header-search-block">
              <div class="mobile-search-btn"></div>
              <input class="common-input" id="headerSearch" type="search" placeholder="Я хочу найти...">
              <div class="search-results-block" id="searchResults">
                <ul class="sr-list">
                  <li class="sr-item"><a class="sr-link" href="#">Школа бокса</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа спортивной гимнастики</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Начальная школа Стриж</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа художественной гимнастики</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа немецкого языка</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Большая школа большого тенниса имени Юрий Гагарина</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Первая школа детской психологии</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Маленькая уютная школа для девочек</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <header class="block main-menu-block">
          <div class="content main-menu-content">
            <nav class="main-menu">
              <ul class="main-menu__list">
                <li class="main-menu__item choice mobshow"><a class="main-menu__link active" href="choice.html">Выбор Kids Point</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="events.html">Мероприятия</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="education.html">Образование</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="sport.html">Спорт</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="enter.html">Развлечения</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="beauty.html">Здоровье и красота</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="shops.html">Магазины</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="camps.html">Лагеря</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="uslugi.html">Услуги</a></li>
                <li class="main-menu__item choice mobhide"><a class="main-menu__link active" href="choice.html">Выбор Kids Point</a></li>
              </ul>
            </nav>
          </div>
        </header>
    <div class="preloader"><img class="preload-cat" src="img/illustrations/preload-cat.svg">
      <div class="bim"></div>
    </div>
    <main>
      <div class="popup-wrapper" id="otherCityPopup">
        <div class="popup">
          <div class="close-popup"></div><img class="cat-pop-ill" src="img/illustrations/city-popup.svg">
          <h3 class="popup-title smaller-title">Немного терпения!</h3>
          <p class="popup-text common-text">Пока мы работаем только в&nbsp;Москве,<br> но&nbsp;скоро ситуация изменится</p>
          <div class="blue-btn big-btn popup-btn just-close-btn">Я просто смотрю</div>
        </div>
      </div>
      <div class="block oc-banner-block yellow-banner">
        <div class="content">
          <div class="banner-info-part">
            <h1 class="banner-title">Мы выбираем лучшее</h1>
            <p class="undertitle nobr">Каждый день мы трудимся над поиском самого<br> интересного для вас и ваших детей</p>
          </div><img class="banner-pic oc-pic" src="img/illustrations/map.svg">
        </div>
      </div>
      <div class="block regular-block">
        <div class="content">
          <ul class="breadcrumbs">
            <li><a href="index.html">Главная /</a></li>
            <li><a href="choice.html">Выбор Kids Point /</a></li>
            <li class="active"><a href="one-choice.html">4 музеея, в которых ваш ребенок не уснет</a></li>
          </ul>
          <h2 class="block-title wu bordered">4 музея, в которых ваш ребёнок не уснет</h2>
          <p class="post-date">21 сентября 2018 г.</p>
          <p class="oc-desc-text">
            Музе́й — учреждение, занимающееся сбором, изучением, хранением и экспонированием предметов памятников
             естественной истории, материальной и духовной культуры, а также просветительской и популяризаторской
             деятельностью. Сначала это понятие обозначало коллекцию предметов (экспонатов) по искусству и науке, затем,
             с XVIII века, оно включает в себя также здание, где располагаются экспонаты. С XIX века присоединилась
             научно-исследовательская работа, проводимая в музеях. А с шестидесятых годов XX века началась .
          </p>
          <div class="one-oc"><a class="one-plate" href="com-card.html">
              <div class="p-dark"></div><img class="ab-img" src="img/post-pics/oc-1.jpg"><span class="choice-info"><span class="choice-num oc-num">1</span><span class="next-to-num"><span class="choice-numword">Пушкинский музей</span><span class="choice-desc">Волхонка, 12</span></span></span></a>
            <p class="oc-text common-text">
              В конце 1896 года в столичной печати были опубликованы условия Конкурса на составление проекта здания
               для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного музея.<br><br> Проекты подобного учреждения неоднократно излагались в печати княгиней Зинаидой Александровной Волконской и Степаном Петровичем Шевыревым (1831), профессором Карлом Карловичем Гёрцем (1858), директором Московского Публичного и Румянцевского музеев Николаем Васильевичем Исаковым (1864).
               О необходимости Москве такого музея неоднократно с 1893 года писал и профессор кафедры теории и истории искусства Московского университета, доктор римской словесности и историк искусства Иван Владимирович Цветаев (1847–1913). Он же разработал условия Конкурса.<span class="circle-yellow"></span>
            </p>
          </div>
          <div class="one-oc"><a class="one-plate" href="com-card.html">
              <div class="p-dark"></div><img class="ab-img" src="img/post-pics/oc-2.jpg"><span class="choice-info"><span class="choice-num oc-num">2</span><span class="next-to-num"><span class="choice-numword">Новая Третьяковка</span><span class="choice-desc">Крымский Вал, 10</span></span></span></a>
            <p class="oc-text common-text">В конце 1896 года в столичной печати были опубликованы условия Конкурса на составление проекта здания для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного музея.<br><br>Проекты подобного учреждения неоднократно излагались в печати княгиней Зинаидой Александровной Волконской и Степаном Петровичем Шевыревым (1831), профессором Карлом Карловичем Гёрцем (1858), директором Московского Публичного и Румянцевского музеев Николаем Васильевичем Исаковым (1864).
              О необходимости Москве такого музея неоднократно с 1893 года писал и профессор кафедры теории и истории искусства Московского университета, доктор римской словесности и историк искусства Иван Владимирович Цветаев (1847–1913). Он же разработал условия Конкурса.<br><br>Печати были опубликованы условия Конкурса на составление проекта здания для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного.<span class="circle-yellow"></span>
            </p>
          </div>
          <div class="one-oc"><a class="one-plate" href="com-card.html">
              <div class="p-dark"></div><img class="ab-img" src="img/post-pics/oc-3.jpg"><span class="choice-info"><span class="choice-num oc-num">3</span><span class="next-to-num"><span class="choice-numword">Выставочный зал «Солнцево»</span><span class="choice-desc">Богданова, 44</span></span></span></a>
            <p class="oc-text common-text">
              В конце 1896 года в столичной печати были опубликованы условия Конкурса на составление проекта здания
              для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного музея.<br><br>Проекты подобного учреждения неоднократно излагались в печати княгиней Зинаидой Александровной Волконской и Степаном Петровичем Шевыревым (1831), профессором Карлом Карловичем Гёрцем (1858).<span class="circle-yellow"></span>
            </p>
          </div>
          <div class="one-oc"><a class="one-plate" href="com-card.html">
              <div class="p-dark"></div><img class="ab-img" src="img/post-pics/oc-4.jpg"><span class="choice-info"><span class="choice-num oc-num">4</span><span class="next-to-num"><span class="choice-numword">Музей космонавтики</span><span class="choice-desc">Проспект Мира, 111</span></span></span></a>
            <p class="oc-text common-text">Музей космонавтики – один из крупнейших научно-технических музеев мира. История музея началась во второй половине XX века, когда в 1964 году на карте Москвы появился монумент «Покорителям космоса». Титановая ракета на ВДНХ стала символом качественного технологического скачка своего времени. Запуск первого искусственного спутника Земли, первые живые существа и первый человек в космосе стали отправной точкой в мировой космонавтике. Так космос стал ближе к человечеству. Время писать историю. В апреле 1981 года в стилобате монумента был открыт Мемориальный Музей космонавтики. Здесь были представлены свидетельства первых успехов и достижений отечественной космонавтики: первые скафандры, первые искусственные спутники Земли; космические аппараты по изучению Луны и планет Солнечной системы.<span class="circle-yellow"></span></p>
          </div>
          <div class="oc-share-block"><span>Понравилось? Расскажи друзьям:</span>
            <ul class="footer-col sn">
              <li><a class="fb" href="#" target="_blank"></a></li>
              <li><a class="vk" href="#" target="_blank"></a></li>
              <li><a class="ok" href="#" target="_blank"></a></li>
              <li><a class="tw" href="#" target="_blank"></a></li>
            </ul>
          </div>
          <div class="see-also">
            <h2 class="block-title">Kids Point также советует</h2>
            <div class="ks-three"><a class="one-plate choice-plate short-plate tripple" href="one-choice.html">
                <div class="p-dark"></div><img class="ab-img" src="img/post-pics/sel-full-6.jpg"><span class="choice-info"><span class="next-to-num alone"><span class="choice-numword">Планы<br> на выходные</span><span class="choice-desc">куда сходить с детьми</span></span></span></a><a class="one-plate choice-plate short-plate tripple" href="one-choice.html">
                <div class="p-dark"></div><img class="ab-img" src="img/post-pics/sel-full-7.jpg"><span class="choice-info"><span class="next-to-num alone"><span class="choice-numword">Многодетным<br> родителям</span><span class="choice-desc">Места, которые интересны<br> и в 5 и в 15</span></span></span></a><a class="one-plate choice-plate short-plate tripple" href="one-choice.html">
                <div class="p-dark"></div><img class="ab-img" src="img/post-pics/sel-full-8.jpg"><span class="choice-info"><span class="choice-num">5</span><span class="next-to-num"><span class="choice-numword">квестов</span><span class="choice-desc">для похода с семьей</span></span></span></a>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="block send-mail-block">
        <div class="content">
          <div class="sm-text-area">
            <h1 class="banner-title">Еженедельная рассылка Kids Point</h1>
            <p class="undertitle mt">О лучших детских развлечениях недели</p>
            <form class="sm-form">
              <input class="common-input" type="email" placeholder="Ваш Email">
              <input class="red-btn big-btn" type="submit" value="Подписаться">
            </form>
            <p class="small-banner-info">Подписываясь на рассылку, вы соглашаетесь на получение информационных<br> и рекламных сообщений в соответствии с
              <a class="blue-dashed-link" href="rass.html">правилами рассылок</a>
            </p>
          </div><img class="send-mail-pic" src="img/illustrations/mail-sending.svg">
        </div>
      </div>
            <footer class="block page-footer">
              <div class="content"><a href="index.html"><img class="footer-logo" src="img/misc/logo-vert.svg"></a>
                <ul class="footer-col">
                  <li><a href="about.html">О компании</a></li>
                  <li><a href="smi.html">СМИ о нас</a></li>
                </ul>
                <ul class="footer-col">
                  <li><a href="reklama.html">Реклама</a></li>
                  <li><a href="contacts.html">Контакты</a></li>
                </ul>
                <ul class="footer-col">
                  <li><a href="userag.html">Пользовательское соглашение</a></li>
                  <li><a href="rass.html">Правила рассылок</a></li>
                </ul>
                <ul class="footer-col sn">
                  <li><a class="fb" href="#" target="_blank"></a></li>
                  <li><a class="vk" href="#" target="_blank"></a></li>
                  <li><a class="ok" href="#" target="_blank"></a></li>
                  <li><a class="tw" href="#" target="_blank"></a></li>
                </ul>
                <p class="copyright">Kids Point, 2018</p>
              </div>
            </footer>
      <div class="block seo-block">
        <div class="content">
          <p class="seo-col">Ребёнок (множ. дети) — в основном значении, человек в период детства. Возрастные границы детства разнятся в различных культурах, теориях жизненного цикла и юридических системах. В общем случае ребёнком называют человека от рождения.</p>
          <p class="seo-col">До окончания пубертатного периода. Де́вочка — ребёнок женского пола; ма́льчик — ребёнок мужского пола. Раздел медицины, посвящённый детскому здоровью, называется педиатрия. Русское слово «ребёнок» происходят от др.</p>
          <p class="seo-col">В России Пётр I издаёт указ «О строении в Москве госпиталей для помещения незаконнорождённых младенцев и о даче им и их кормилицам денежного жалования». Позже М. В. Ломоносов высказывает.</p>
        </div>
      </div>
    </main>
    <script src="js/main.js"></script>
    <script src="js/jquery.range.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  </body>
</html>

pug/one-choice.pug
extends template

block title
    title Выбор Kids Point


block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isWhite: true, isIndexPage: false, activePage: 'choice.html'})

block content
    main
        include ./components/popups/other-city-popup

        .block.oc-banner-block.yellow-banner
            .content
                .banner-info-part
                    h1.banner-title Мы выбираем лучшее
                    p.undertitle.nobr
                        | Каждый день мы трудимся над поиском самого
                        br
                        |  интересного для вас и ваших детей
                img.banner-pic.oc-pic(src="img/illustrations/map.svg")

        .block.regular-block
            .content

                ul.breadcrumbs
                    li
                        a(href="index.html") Главная /
                    li
                        a(href="choice.html") Выбор Kids Point /
                    li.active
                        a(href="one-choice.html") 4 музеея, в которых ваш ребенок не уснет

                h2.block-title.wu.bordered 4 музея, в которых ваш ребёнок не уснет
                p.post-date 21 сентября 2018 г.

                p.oc-desc-text
                    | Музе́й — учреждение, занимающееся сбором, изучением, хранением и экспонированием предметов памятников
                    |  естественной истории, материальной и духовной культуры, а также просветительской и популяризаторской
                    |  деятельностью. Сначала это понятие обозначало коллекцию предметов (экспонатов) по искусству и науке, затем,
                    |  с XVIII века, оно включает в себя также здание, где располагаются экспонаты. С XIX века присоединилась
                    |  научно-исследовательская работа, проводимая в музеях. А с шестидесятых годов XX века началась .

                .one-oc
                    a.one-plate(href="com-card.html")
                        .p-dark
                        img.ab-img(src="img/post-pics/oc-1.jpg")
                        span.choice-info
                            span.choice-num.oc-num 1
                            span.next-to-num
                                span.choice-numword Пушкинский музей
                                span.choice-desc Волхонка, 12

                    p.oc-text.common-text
                        | В конце 1896 года в столичной печати были опубликованы условия Конкурса на составление проекта здания
                        |  для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного музея.
                        br
                        br
                        |  Проекты подобного учреждения неоднократно излагались в печати княгиней Зинаидой Александровной Волконской и Степаном Петровичем Шевыревым (1831), профессором Карлом Карловичем Гёрцем (1858), директором Московского Публичного и Румянцевского музеев Николаем Васильевичем Исаковым (1864).
                        |  О необходимости Москве такого музея неоднократно с 1893 года писал и профессор кафедры теории и истории искусства Московского университета, доктор римской словесности и историк искусства Иван Владимирович Цветаев (1847–1913). Он же разработал условия Конкурса.
                        span.circle-yellow

                .one-oc
                    a.one-plate(href="com-card.html")
                        .p-dark
                        img.ab-img(src="img/post-pics/oc-2.jpg")
                        span.choice-info
                            span.choice-num.oc-num 2
                            span.next-to-num
                                span.choice-numword Новая Третьяковка
                                span.choice-desc Крымский Вал, 10

                    p.oc-text.common-text
                        | В конце 1896 года в столичной печати были опубликованы условия Конкурса на составление проекта здания для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного музея.
                        br
                        br
                        | Проекты подобного учреждения неоднократно излагались в печати княгиней Зинаидой Александровной Волконской и Степаном Петровичем Шевыревым (1831), профессором Карлом Карловичем Гёрцем (1858), директором Московского Публичного и Румянцевского музеев Николаем Васильевичем Исаковым (1864).
                        | О необходимости Москве такого музея неоднократно с 1893 года писал и профессор кафедры теории и истории искусства Московского университета, доктор римской словесности и историк искусства Иван Владимирович Цветаев (1847–1913). Он же разработал условия Конкурса.
                        br
                        br
                        | Печати были опубликованы условия Конкурса на составление проекта здания для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного.
                        span.circle-yellow

                .one-oc
                    a.one-plate(href="com-card.html")
                        .p-dark
                        img.ab-img(src="img/post-pics/oc-3.jpg")
                        span.choice-info
                            span.choice-num.oc-num 3
                            span.next-to-num
                                span.choice-numword Выставочный зал «Солнцево»
                                span.choice-desc Богданова, 44

                    p.oc-text.common-text
                        | В конце 1896 года в столичной печати были опубликованы условия Конкурса на составление проекта здания
                        | для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного музея.
                        br
                        br
                        | Проекты подобного учреждения неоднократно излагались в печати княгиней Зинаидой Александровной Волконской и Степаном Петровичем Шевыревым (1831), профессором Карлом Карловичем Гёрцем (1858).
                        span.circle-yellow

                .one-oc
                    a.one-plate(href="com-card.html")
                        .p-dark
                        img.ab-img(src="img/post-pics/oc-4.jpg")
                        span.choice-info
                            span.choice-num.oc-num 4
                            span.next-to-num
                                span.choice-numword Музей космонавтики
                                span.choice-desc Проспект Мира, 111

                    p.oc-text.common-text
                        | Музей космонавтики – один из крупнейших научно-технических музеев мира. История музея началась во второй половине XX века, когда в 1964 году на карте Москвы появился монумент «Покорителям космоса». Титановая ракета на ВДНХ стала символом качественного технологического скачка своего времени. Запуск первого искусственного спутника Земли, первые живые существа и первый человек в космосе стали отправной точкой в мировой космонавтике. Так космос стал ближе к человечеству. Время писать историю. В апреле 1981 года в стилобате монумента был открыт Мемориальный Музей космонавтики. Здесь были представлены свидетельства первых успехов и достижений отечественной космонавтики: первые скафандры, первые искусственные спутники Земли; космические аппараты по изучению Луны и планет Солнечной системы.
                        span.circle-yellow

                .oc-share-block
                    span Понравилось? Расскажи друзьям:

                    ul.footer-col.sn
                        li
                            a.fb(href="#", target="_blank")
                        li
                            a.vk(href="#", target="_blank")
                        li
                            a.ok(href="#", target="_blank")
                        li
                            a.tw(href="#", target="_blank")

                .see-also
                    h2.block-title Kids Point также советует
                    .ks-three
                        a.one-plate.choice-plate.short-plate.tripple(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-6.jpg")
                            span.choice-info
                                span.next-to-num.alone
                                    span.choice-numword
                                        | Планы
                                        br
                                        |  на выходные
                                    span.choice-desc куда сходить с детьми

                        a.one-plate.choice-plate.short-plate.tripple(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-7.jpg")
                            span.choice-info
                                span.next-to-num.alone
                                    span.choice-numword
                                        | Многодетным
                                        br
                                        |  родителям
                                    span.choice-desc
                                        | Места, которые интересны
                                        br
                                        |  и в 5 и в 15

                        a.one-plate.choice-plate.short-plate.tripple(href="one-choice.html")
                            .p-dark
                            img.ab-img(src="img/post-pics/sel-full-8.jpg")
                            span.choice-info
                                span.choice-num 5
                                span.next-to-num
                                    span.choice-numword квестов
                                    span.choice-desc для похода с семьей


                        .clearfix

        include ./components/blocks/send-mail
        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo
