pug/rass.pug
extends template

block title
    title Правила рассылок

block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isWhite: true, isIndexPage: false, activePage: 'rass.html'})

block content
    main.lpaws
        include ./components/popups/other-city-popup

        .block.upper-block
            .content.uacont
                ul.breadcrumbs
                    li
                        a(href="index.html") Главная /
                    li.active
                        a(href="rass.html") Правила рассылок

                h2.block-title.wu Правила рассылки KidsPoint

                p.common-text.userag-block
                    |  Версия от 29 июля 2018 г.
                    br
                    br
                    span.ua-title 1.Общие положения
                    |
                    | 1.	Настоящие правила (Правила) определяют условия и порядок рассылки информационных и рекламных сообщений, осуществляемой Владельцем Сайта Пользователям.
                    br
                    br
                    | 2.	Правила являются публичной офертой в соответствии со ст. 437 Гражданского кодекса Российской Федерации. Подписка на рассылку на Сайте означает полный и безоговорочный акцепт Правил Пользователем.
                    br
                    br
                    | 3.	В случае несогласия Пользователя с каким-либо из положений Правил, Пользователь обязан воздержаться от совершения действий, направленных на подписку на рассылку.
                    br
                    br
                    | 4.	Правила и отношения между Пользователем и Владельцем Сайта, возникающие в связи с подпиской на информационные и/или рекламные рассылки, регулируются и подлежат толкованию в соответствии с законодательством Российской Федерации.

                p.common-text.userag-block
                    span.ua-title 2. Терминология
                    |
                    | Сайт – интернет-ресурс, размещенный в сети Интернет по адресу kids-point.ru.
                    br
                    br
                    | Владелец Сайта – общество с ограниченной ответственностью «КидсПоинт» (ОГРН 1107746038410).
                    br
                    br
                    | Пользователь – физическое лицо, обладающее необходимой дееспособностью для заключения и исполнения Правил и осуществляющее доступ к Сайту.
                    br
                    br
                    | Сообщения – информационные сообщения, в том числе новостного и рекламного характера (любого вида реклама), связанные с Сайтом и/или тематикой Сайта, а также с продуктами (услугами) компаний группы Rambler&Co и/или Партнеров.
                    br
                    br
                    | Подписка на рассылку – действия Пользователя при использовании Сайта, направленные на систематическое получение от Владельца Сайта Сообщений.
                    br
                    br
                    | Компании группы Rambler&Co – юридические лица, сходящие в группу Rambler&Co, в том числе ООО «Рамблер Интернет Холдинг», ООО «Компания Афиша», ООО «Суп Медиа», АО «Газета.Ру», ООО «Лента.Ру», ООО «Прайc Экспресс», ООО «РА «Индекс 20».
                    br
                    br
                    | Партнеры –  третьи лица, выступающие в качестве поставщиков товаров/ услуг, доступных посредством Сайта и/или интернет-ресурсов и/или иных продуктов компаний группы Rambler&Co.

                p.common-text.userag-block
                    span.ua-title 3. Условия рассылки Сообщений
                    |
                    | 1. Принимая условия Правил, Пользователь выражает свое согласие на получение от Владельца Сайта и/или компаний группы Rambler&Co и/или Партнеров по адресу электронной почты, указанному Пользователем при подписке на рассылку, Сообщений.
                    br
                    br
                    | 2. Владелец Сайта исходит из того, что подписка на рассылку осуществляется непосредственно Пользователем, а также что адрес электронной почты, указанный Пользователем при подписке на рассылку, является корректным и принадлежит Пользователю. Ответственность за правомерность предоставления данных Пользователя при подписке на рассылку и их достоверность несет исключительно Пользователь.
                    br
                    br
                    | 3. Пользователь вправе в любое время отказаться от получения Сообщений путем перехода по соответствующей ссылке, содержащейся в Сообщении.
                    br
                    br
                    | 4. Пользователь вправе знакомиться с Правилами путем перехода по гиперссылке «Правила рассылки» на странице Сайта.

                p.common-text.userag-block
                    span.ua-title 4. Прочее
                    |
                    | 1. Надлежащим адресом Владельца Сайта для направления юридически значимых сообщений является: 117105, г. Москва, Варшавское шоссе, д.9, стр.1, БЦ «Даниловская Мануфактура», ООО «Компания Афиша».
                    br
                    br
                    strong Правила могут быть изменены Владельцем Сайта без специального уведомления путем размещения по тому же адресу новой редакции Правил, которая вступает в силу с момента ее размещения в сети Интернет, если иное не предусмотрено новой редакцией Правил.
        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo

app/rass.html
<!DOCTYPE html>
<html class="no-js" lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Правила рассылок</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
        <header class="block page-header">
          <div class="content"><a href="index.html"><img class="header-logo" src="img/misc/logo-hor.svg"></a>
            <div class="region-selection">
              <div class="city-selection-block" id="citySelect">
                <ul class="cs-list">
                  <li class="cs-item" id="otherRegion"><a class="cs-link" href="#">Другой регион</a></li>
                  <li class="cs-item" id="mscRegion"><a class="cs-link" href="#">Москва и Мос. обл.</a></li>
                </ul>
              </div>
              <p class="r-def-phrase city-def-phrase">Ваш регион Москва или Мос. область?</p>
              <div class="yes-no-and-reg">
                <div class="yesno"><span class="yes">Да</span><span class="no">Нет</span></div>
                <div class="city-defined msc mobhide">Москва и Мос. обл.</div>
                <div class="city-defined msc mobshow visible">Москва и Мос. обл.</div>
                <div class="city-defined other">Другой регион</div>
              </div>
            </div>
            <div class="header-search-block">
              <div class="mobile-search-btn"></div>
              <input class="common-input" id="headerSearch" type="search" placeholder="Я хочу найти...">
              <div class="search-results-block" id="searchResults">
                <ul class="sr-list">
                  <li class="sr-item"><a class="sr-link" href="#">Школа бокса</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа спортивной гимнастики</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Начальная школа Стриж</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа художественной гимнастики</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа немецкого языка</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Большая школа большого тенниса имени Юрий Гагарина</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Первая школа детской психологии</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Маленькая уютная школа для девочек</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <header class="block main-menu-block">
          <div class="content main-menu-content">
            <nav class="main-menu">
              <ul class="main-menu__list">
                <li class="main-menu__item choice mobshow"><a class="main-menu__link" href="choice.html">Выбор Kids Point</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="events.html">Мероприятия</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="education.html">Образование</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="sport.html">Спорт</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="enter.html">Развлечения</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="beauty.html">Здоровье и красота</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="shops.html">Магазины</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="camps.html">Лагеря</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="uslugi.html">Услуги</a></li>
                <li class="main-menu__item choice mobhide"><a class="main-menu__link" href="choice.html">Выбор Kids Point</a></li>
              </ul>
            </nav>
          </div>
        </header>
    <div class="preloader"><img class="preload-cat" src="img/illustrations/preload-cat.svg">
      <div class="bim"></div>
    </div>
    <main class="lpaws">
      <div class="popup-wrapper" id="otherCityPopup">
        <div class="popup">
          <div class="close-popup"></div><img class="cat-pop-ill" src="img/illustrations/city-popup.svg">
          <h3 class="popup-title smaller-title">Немного терпения!</h3>
          <p class="popup-text common-text">Пока мы работаем только в&nbsp;Москве,<br> но&nbsp;скоро ситуация изменится</p>
          <div class="blue-btn big-btn popup-btn just-close-btn">Я просто смотрю</div>
        </div>
      </div>
      <div class="block upper-block">
        <div class="content uacont">
          <ul class="breadcrumbs">
            <li><a href="index.html">Главная /</a></li>
            <li class="active"><a href="rass.html">Правила рассылок</a></li>
          </ul>
          <h2 class="block-title wu">Правила рассылки KidsPoint</h2>
          <p class="common-text userag-block"> Версия от 29 июля 2018 г.<br><br><span class="ua-title">1.Общие положения</span>
            1.	Настоящие правила (Правила) определяют условия и порядок рассылки информационных и рекламных сообщений, осуществляемой Владельцем Сайта Пользователям.<br><br>2.	Правила являются публичной офертой в соответствии со ст. 437 Гражданского кодекса Российской Федерации. Подписка на рассылку на Сайте означает полный и безоговорочный акцепт Правил Пользователем.<br><br>3.	В случае несогласия Пользователя с каким-либо из положений Правил, Пользователь обязан воздержаться от совершения действий, направленных на подписку на рассылку.<br><br>4.	Правила и отношения между Пользователем и Владельцем Сайта, возникающие в связи с подпиской на информационные и/или рекламные рассылки, регулируются и подлежат толкованию в соответствии с законодательством Российской Федерации.
          </p>
          <p class="common-text userag-block"><span class="ua-title">2. Терминология</span>
            Сайт – интернет-ресурс, размещенный в сети Интернет по адресу kids-point.ru.<br><br>Владелец Сайта – общество с ограниченной ответственностью «КидсПоинт» (ОГРН 1107746038410).<br><br>Пользователь – физическое лицо, обладающее необходимой дееспособностью для заключения и исполнения Правил и осуществляющее доступ к Сайту.<br><br>Сообщения – информационные сообщения, в том числе новостного и рекламного характера (любого вида реклама), связанные с Сайтом и/или тематикой Сайта, а также с продуктами (услугами) компаний группы Rambler&Co и/или Партнеров.<br><br>Подписка на рассылку – действия Пользователя при использовании Сайта, направленные на систематическое получение от Владельца Сайта Сообщений.<br><br>Компании группы Rambler&Co – юридические лица, сходящие в группу Rambler&Co, в том числе ООО «Рамблер Интернет Холдинг», ООО «Компания Афиша», ООО «Суп Медиа», АО «Газета.Ру», ООО «Лента.Ру», ООО «Прайc Экспресс», ООО «РА «Индекс 20».<br><br>Партнеры –  третьи лица, выступающие в качестве поставщиков товаров/ услуг, доступных посредством Сайта и/или интернет-ресурсов и/или иных продуктов компаний группы Rambler&Co.
          </p>
          <p class="common-text userag-block"><span class="ua-title">3. Условия рассылки Сообщений</span>
            1. Принимая условия Правил, Пользователь выражает свое согласие на получение от Владельца Сайта и/или компаний группы Rambler&Co и/или Партнеров по адресу электронной почты, указанному Пользователем при подписке на рассылку, Сообщений.<br><br>2. Владелец Сайта исходит из того, что подписка на рассылку осуществляется непосредственно Пользователем, а также что адрес электронной почты, указанный Пользователем при подписке на рассылку, является корректным и принадлежит Пользователю. Ответственность за правомерность предоставления данных Пользователя при подписке на рассылку и их достоверность несет исключительно Пользователь.<br><br>3. Пользователь вправе в любое время отказаться от получения Сообщений путем перехода по соответствующей ссылке, содержащейся в Сообщении.<br><br>4. Пользователь вправе знакомиться с Правилами путем перехода по гиперссылке «Правила рассылки» на странице Сайта.
          </p>
          <p class="common-text userag-block"><span class="ua-title">4. Прочее</span>
            1. Надлежащим адресом Владельца Сайта для направления юридически значимых сообщений является: 117105, г. Москва, Варшавское шоссе, д.9, стр.1, БЦ «Даниловская Мануфактура», ООО «Компания Афиша».<br><br><strong>Правила могут быть изменены Владельцем Сайта без специального уведомления путем размещения по тому же адресу новой редакции Правил, которая вступает в силу с момента ее размещения в сети Интернет, если иное не предусмотрено новой редакцией Правил.</strong>
          </p>
        </div>
      </div>
            <footer class="block page-footer">
              <div class="content"><a href="index.html"><img class="footer-logo" src="img/misc/logo-vert.svg"></a>
                <ul class="footer-col">
                  <li><a href="about.html">О компании</a></li>
                  <li><a href="smi.html">СМИ о нас</a></li>
                </ul>
                <ul class="footer-col">
                  <li><a href="reklama.html">Реклама</a></li>
                  <li><a href="contacts.html">Контакты</a></li>
                </ul>
                <ul class="footer-col">
                  <li><a href="userag.html">Пользовательское соглашение</a></li>
                  <li><a href="rass.html">Правила рассылок</a></li>
                </ul>
                <ul class="footer-col sn">
                  <li><a class="fb" href="#" target="_blank"></a></li>
                  <li><a class="vk" href="#" target="_blank"></a></li>
                  <li><a class="ok" href="#" target="_blank"></a></li>
                  <li><a class="tw" href="#" target="_blank"></a></li>
                </ul>
                <p class="copyright">Kids Point, 2018</p>
              </div>
            </footer>
      <div class="block seo-block">
        <div class="content">
          <p class="seo-col">Ребёнок (множ. дети) — в основном значении, человек в период детства. Возрастные границы детства разнятся в различных культурах, теориях жизненного цикла и юридических системах. В общем случае ребёнком называют человека от рождения.</p>
          <p class="seo-col">До окончания пубертатного периода. Де́вочка — ребёнок женского пола; ма́льчик — ребёнок мужского пола. Раздел медицины, посвящённый детскому здоровью, называется педиатрия. Русское слово «ребёнок» происходят от др.</p>
          <p class="seo-col">В России Пётр I издаёт указ «О строении в Москве госпиталей для помещения незаконнорождённых младенцев и о даче им и их кормилицам денежного жалования». Позже М. В. Ломоносов высказывает.</p>
        </div>
      </div>
    </main>
    <script src="js/main.js"></script>
    <script src="js/jquery.range.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  </body>
</html>
