app/reklama.html
<!DOCTYPE html>
<html class="no-js" lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Реклама</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
        <header class="block page-header">
          <div class="content"><a href="index.html"><img class="header-logo" src="img/misc/logo-hor.svg"></a>
            <div class="region-selection">
              <div class="city-selection-block" id="citySelect">
                <ul class="cs-list">
                  <li class="cs-item" id="otherRegion"><a class="cs-link" href="#">Другой регион</a></li>
                  <li class="cs-item" id="mscRegion"><a class="cs-link" href="#">Москва и Мос. обл.</a></li>
                </ul>
              </div>
              <p class="r-def-phrase city-def-phrase">Ваш регион Москва или Мос. область?</p>
              <div class="yes-no-and-reg">
                <div class="yesno"><span class="yes">Да</span><span class="no">Нет</span></div>
                <div class="city-defined msc mobhide">Москва и Мос. обл.</div>
                <div class="city-defined msc mobshow visible">Москва и Мос. обл.</div>
                <div class="city-defined other">Другой регион</div>
              </div>
            </div>
            <div class="header-search-block">
              <div class="mobile-search-btn"></div>
              <input class="common-input" id="headerSearch" type="search" placeholder="Я хочу найти...">
              <div class="search-results-block" id="searchResults">
                <ul class="sr-list">
                  <li class="sr-item"><a class="sr-link" href="#">Школа бокса</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа спортивной гимнастики</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Начальная школа Стриж</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа художественной гимнастики</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа немецкого языка</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Большая школа большого тенниса имени Юрий Гагарина</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Первая школа детской психологии</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Маленькая уютная школа для девочек</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <header class="block main-menu-block">
          <div class="content main-menu-content">
            <nav class="main-menu">
              <ul class="main-menu__list">
                <li class="main-menu__item choice mobshow"><a class="main-menu__link" href="choice.html">Выбор Kids Point</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="events.html">Мероприятия</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="education.html">Образование</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="sport.html">Спорт</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="enter.html">Развлечения</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="beauty.html">Здоровье и красота</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="shops.html">Магазины</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="camps.html">Лагеря</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="uslugi.html">Услуги</a></li>
                <li class="main-menu__item choice mobhide"><a class="main-menu__link" href="choice.html">Выбор Kids Point</a></li>
              </ul>
            </nav>
          </div>
        </header>
    <div class="preloader"><img class="preload-cat" src="img/illustrations/preload-cat.svg">
      <div class="bim"></div>
    </div>
    <main class="lpaws">
      <div class="popup-wrapper" id="otherCityPopup">
        <div class="popup">
          <div class="close-popup"></div><img class="cat-pop-ill" src="img/illustrations/city-popup.svg">
          <h3 class="popup-title smaller-title">Немного терпения!</h3>
          <p class="popup-text common-text">Пока мы работаем только в&nbsp;Москве,<br> но&nbsp;скоро ситуация изменится</p>
          <div class="blue-btn big-btn popup-btn just-close-btn">Я просто смотрю</div>
        </div>
      </div>
      <div class="popup-wrapper" id="contactUsPopup">
        <div class="popup contact-us-popup">
          <div class="close-popup"></div>
          <h3 class="popup-title smaller-title">Давайте знакомиться</h3>
          <p class="popup-text common-text">Заполните&nbsp;форму,<br class="nohide"> и&nbsp;мы&nbsp;скоро свяжемся с&nbsp;вами</p>
          <form class="popup-form">
            <input class="common-input" type="text" placeholder="Ваша компания">
            <input class="common-input" type="text" placeholder="Ваш Email">
            <textarea class="common-input" placeholder="Сообщение"></textarea>
            <input class="red-btn" id="submitCont" type="submit" value="Отправить">
          </form>
          <div class="blue-btn big-btn popup-btn just-close-btn">Я жду вашего письма</div>
        </div>
      </div>
      <div class="block upper-block">
        <div class="content">
          <ul class="breadcrumbs">
            <li><a href="index.html">Главная /</a></li>
            <li class="active"><a href="reklama.html">Реклама</a></li>
          </ul><img class="just-ab rekl-ill" src="img/illustrations/adv-ill.svg">
          <h2 class="block-title wu">Реклама у нас</h2>
          <p class="undertitle lm">Повседневная практика показывает, что постоянное информационно<br> пропагандистское обеспечение нашей деятельности обеспечивает<br> широкому кругу (специалистов) участие в&nbsp;формировании системы<br> обучения кадров, соответствует насущным потребностям.</p>
          <p class="forpres">Мы подготовили презентацию, в&nbsp;котрой подробно<br> рассказали обо всех условиях размещения рекламы</p><a class="big-btn red-btn getpres" href="#">Связаться с нами</a>
        </div>
      </div>
      <div class="block info-block rekl-block">
        <div class="content">
          <div class="pic-wrapper rekl"><img class="ab-img" src="img/misc/adv-pic.jpg">
            <div class="pw-info">
              <h3 class="choice-numword">«Размещаться на Kids Point — это выгодно»</h3>
              <p class="pw-text">~ Ca$h Catz</p>
            </div>
          </div>
          <p class="common-text">
            В конце 1896 года в столичной печати были опубликованы условия Конкурса на составление проекта здания
            для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного музея.
          </p>
          <p class="common-text">
            Проекты подобного учреждения неоднократно излагались в печати княгиней Зинаидой Александровной Волконской и Степаном Петровичем Шевыревым (1831), профессором Карлом Карловичем Гёрцем (1858), директором Московского Публичного и Румянцевского музеев Николаем Васильевичем Исаковым .
            О необходимости Москве такого музея неоднократно с 1893 года писал и профессор кафедры теории и истории искусства Московского университета, доктор римской словесности и историк искусства Иван Владимирович Цветаев (1847–1913). Он же разработал условия Конкурса.
          </p>
        </div>
      </div>
      <div class="block send-mail-block">
        <div class="content">
          <div class="sm-text-area">
            <h1 class="banner-title">Еженедельная рассылка Kids Point</h1>
            <p class="undertitle mt">О лучших детских развлечениях недели</p>
            <form class="sm-form">
              <input class="common-input" type="email" placeholder="Ваш Email">
              <input class="red-btn big-btn" type="submit" value="Подписаться">
            </form>
            <p class="small-banner-info">Подписываясь на рассылку, вы соглашаетесь на получение информационных<br> и рекламных сообщений в соответствии с
              <a class="blue-dashed-link" href="rass.html">правилами рассылок</a>
            </p>
          </div><img class="send-mail-pic" src="img/illustrations/mail-sending.svg">
        </div>
      </div>
            <footer class="block page-footer">
              <div class="content"><a href="index.html"><img class="footer-logo" src="img/misc/logo-vert.svg"></a>
                <ul class="footer-col">
                  <li><a href="about.html">О компании</a></li>
                  <li><a href="smi.html">СМИ о нас</a></li>
                </ul>
                <ul class="footer-col">
                  <li><a href="reklama.html">Реклама</a></li>
                  <li><a href="contacts.html">Контакты</a></li>
                </ul>
                <ul class="footer-col">
                  <li><a href="userag.html">Пользовательское соглашение</a></li>
                  <li><a href="rass.html">Правила рассылок</a></li>
                </ul>
                <ul class="footer-col sn">
                  <li><a class="fb" href="#" target="_blank"></a></li>
                  <li><a class="vk" href="#" target="_blank"></a></li>
                  <li><a class="ok" href="#" target="_blank"></a></li>
                  <li><a class="tw" href="#" target="_blank"></a></li>
                </ul>
                <p class="copyright">Kids Point, 2018</p>
              </div>
            </footer>
      <div class="block seo-block">
        <div class="content">
          <p class="seo-col">Ребёнок (множ. дети) — в основном значении, человек в период детства. Возрастные границы детства разнятся в различных культурах, теориях жизненного цикла и юридических системах. В общем случае ребёнком называют человека от рождения.</p>
          <p class="seo-col">До окончания пубертатного периода. Де́вочка — ребёнок женского пола; ма́льчик — ребёнок мужского пола. Раздел медицины, посвящённый детскому здоровью, называется педиатрия. Русское слово «ребёнок» происходят от др.</p>
          <p class="seo-col">В России Пётр I издаёт указ «О строении в Москве госпиталей для помещения незаконнорождённых младенцев и о даче им и их кормилицам денежного жалования». Позже М. В. Ломоносов высказывает.</p>
        </div>
      </div>
    </main>
    <script src="js/main.js"></script>
    <script src="js/jquery.range.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  </body>
</html>

pug/reklama.pug
extends template

block title
    title Реклама

block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isWhite: true, isIndexPage: false, activePage: 'reklama.html'})

block content
    main.lpaws
        include ./components/popups/other-city-popup
        include ./components/popups/contact-us-popup

        .block.upper-block
            .content
                ul.breadcrumbs
                    li
                        a(href="index.html") Главная /
                    li.active
                        a(href="reklama.html") Реклама

                img.just-ab.rekl-ill(src="img/illustrations/adv-ill.svg")

                h2.block-title.wu Реклама у нас
                p.undertitle.lm
                    | Повседневная практика показывает, что постоянное информационно
                    br
                    |  пропагандистское обеспечение нашей деятельности обеспечивает
                    br
                    |  широкому кругу (специалистов) участие в&nbsp;формировании системы
                    br
                    |  обучения кадров, соответствует насущным потребностям.
                p.forpres
                    | Мы подготовили презентацию, в&nbsp;котрой подробно
                    br
                    |  рассказали обо всех условиях размещения рекламы

                a.big-btn.red-btn.getpres(href="#") Связаться с нами

        .block.info-block.rekl-block
            .content
                .pic-wrapper.rekl
                    img.ab-img(src="img/misc/adv-pic.jpg")
                    .pw-info
                        h3.choice-numword «Размещаться на Kids Point — это выгодно»
                        p.pw-text ~ Ca$h Catz

                p.common-text
                    | В конце 1896 года в столичной печати были опубликованы условия Конкурса на составление проекта здания
                    | для Музея изящных искусств имени императора Александра III при Московском университете, который по просьбе университета проводила Петербургская Академия художеств. С этого момента началось осуществление давней мечты о создании в Москве художественно-образовательного общедоступного музея.
                p.common-text
                    | Проекты подобного учреждения неоднократно излагались в печати княгиней Зинаидой Александровной Волконской и Степаном Петровичем Шевыревым (1831), профессором Карлом Карловичем Гёрцем (1858), директором Московского Публичного и Румянцевского музеев Николаем Васильевичем Исаковым .
                    | О необходимости Москве такого музея неоднократно с 1893 года писал и профессор кафедры теории и истории искусства Московского университета, доктор римской словесности и историк искусства Иван Владимирович Цветаев (1847–1913). Он же разработал условия Конкурса.
                

        include ./components/blocks/send-mail
        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo
