pug/userag.pug
extends template

block title
    title Пользовательское соглашение

block header
    include ./components/blocks/header
    + header({headerClass: ''})
    include ./components/blocks/menu
    + menu({menuClass: '', isWhite: true, isIndexPage: false, activePage: 'userag.html'})

block content
    main.lpaws
        include ./components/popups/other-city-popup

        .block.upper-block
            .content.uacont
                ul.breadcrumbs
                    li
                        a(href="index.html") Главная /
                    li.active
                        a(href="userag.html") Пользовательское соглашение

                h2.block-title.wu Пользовательское соглашение

                p.common-text.userag-block
                    span.ua-title 1. Общие условия использования пользователями сети сайта www.kidspoint.ru
                    |
                    | Настоящее пользовательское соглашение (далее — Соглашение) устанавливает условия и правила использования пользователями сети сайта www.afisha.ru (далее — Сайт), в том числе:
                    br
                    br
                    | — условия использования материалов, размещенных на Сайте;
                    br
                    | — условия размещения материалов (включая, но не ограничиваясь текстовыми материалами, изображениями, комментариями) пользователями сети на Сайте.
                    br
                    br
                    | Интернет-представительство (далее — Сайт) ООО «Компания Афиша» представляет собой систему интерактивного обслуживания в режиме реального времени, эксплуатируемую ООО «Компания Афиша» во всемирной сети и включающую в себя информационные услуги и данные, предоставляемые ООО «Компания Афиша» и третьими лицами.
                    | Использование Сайта пользователем сети означает, что пользователь сети принимает и обязуется соблюдать все нижеприведенные условия Соглашения.
                    | Соглашение полностью или частично может быть изменено ООО «Компания Афиша» в любое время без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее опубликования на Сайте.

                p.common-text.userag-block
                    span.ua-title 2. Условия использования материалов, размещенных на сайте www.kidspoint.ru
                    |
                    | 2.1. Сайт содержит материалы, охраняемые авторским правом, товарные знаки и иные охраняемые законом материалы, включая, но не ограничиваясь текстами, фотографиями, видеоматериалами, графическими изображениями, музыкальными и звуковыми произведениями.
                    | При этом все содержание Сайта охраняется авторским правом как произведение, созданное коллективным творческим трудом, в соответствии с законодательством Российской Федерации об авторском праве и смежных правах.
                    | ООО «Компания Афиша» принадлежит авторское право на использование содержания Сайта (в том числе право на подбор, расположение, систематизацию и преобразование данных, содержащихся на сайте www.afisha.ru, а также на сами исходные данные), кроме случаев, отдельно отмеченных в содержании опубликованных на Сайте материалов.
                    | Отображенные на сайте www.afisha.ru сведения о деятельности ООО «Компания Афиша», включая расписания, анонсы и т.п., являются информацией, принадлежащей ООО «Компания Афиша» на правах собственности. Использование такой информации в любых целях, кроме как в личных, без согласия ООО «Компания Афиша» не допускается.
                    | Указанные в настоящем разделе Соглашения положения предусматривают защиту интересов ООО «Компания Афиша» и третьих лиц, являющихся обладателями прав в отношении содержания (контента) Сайта. При этом все эти обладатели прав вправе воспользоваться своими правами, указанными в Соглашении, самостоятельно.
                    br
                    br
                    | 2.2 Пользователь сети не имеет права вносить изменения, публиковать, передавать третьим лицам, участвовать в продаже или уступке, создавать производные продукты или иным образом использовать, частично или полностью, содержание Сайта, исключение составляют случаи использования размещенных текстовых материалов в объеме не более 300 (трехсот) знаков без учета знаков препинания (использование любых фотоматериалов и графических изображений не допускается без согласия ООО «Компания Афиша»).
                    | Пользователь сети может загружать (скачивать) с Сайта материалы, охраняемые авторским правом, только для личного использования.
                    | Если иное не предусмотрено законодательством об авторском праве и смежных правах, не допускается копирование, распространение, передача третьим лицам, опубликование или иное использование в коммерческих целях материалов, загруженных с Сайта, без получения письменного разрешения ООО «Компания Афиша» или другого законного владельца авторских прав.
                    | В случае получения разрешения на копирование, распространение, опубликование или иное использование материалов сайта, охраняемых авторским правом, такое копирование, распространение, опубликование или иное использование не допускается без уведомления о принадлежности авторского права либо с изменением или исключением имени автора и/или товарного знака.

                p.common-text.userag-block
                    span.ua-title 3. Условия размещения материалов пользователями сети на сайте www.kidspoint.ru
                    |
                    | 3.1. Пользователь сети обязуется использовать Сайт только в законных целях.
                    | Пользователь Сети обязуется не размещать на Сайте и не направлять куда-либо через/посредством Сайта любые материалы следующего характера:
                    br
                    br
                    | — нарушающие законодательство, содержащие угрозы и оскорбления, дискредитирующие других лиц, нарушающие права граждан на частную жизнь или публичный порядок, носящие характер непристойности;
                    br
                    | — нарушающие в той или иной степени честь и достоинство, права и охраняемые законом интересы других лиц;
                    br
                    | — способствующие или содержащие призывы к разжиганию религиозной, расовой или межнациональной розни, содержащие попытки разжигания вражды или призывы к насилию;
                    br
                    | — иные материалы, которые побуждают других лиц на противоправное поведение, влекущее уголовную, гражданско-правовую и иную ответственность или каким-либо образом нарушающее положения законодательства.
                    br
                    br
                    | Любые действия пользователя сети, которые, по мнению ООО «Компания Афиша», ограничивают или препятствуют осуществлению прав другого пользователя сети, использующего Сайт, не допускаются
                    br
                    br
                    | 3.2. Пользователь сети обязуется не размещать на Сайте и не направлять через/посредством Сайта материалы, являющиеся рекламой каких-либо товаров или услуг, без получения предварительного выраженного согласия ООО «Компания Афиша».
                    | Пользователь сети обязуется не использовать Сайт для рекламы или иного стимулирования сбыта любых товаров и услуг в любой форме, включая, но не ограничиваясь стимулированием пользователей к подписке на другую систему интерактивного обслуживания, являющуюся конкурентом Сайта.
                    br
                    br
                    | 3.3. Пользователь сети обязуется не загружать, размещать или иным образом использовать на Сайте какие-либо материалы, охраняемые законодательством об интеллектуальной собственности (в том числе авторским правом, законодательством о товарных знаках), и иные охраняемые законодательством материалы без получения выраженного разрешения обладателя прав на охраняемый материал. При этом бремя доказывания того, что размещение на Сайте пользователем сети материалов не нарушает авторские, смежные и иные права третьих лиц на размещаемые материалы, лежит на пользователе сети.
                    br
                    br
                    | 3.4. Пользователь сети соглашается с тем, что он несет единоличную полную ответственность в отношении размещаемых на Сайте материалов, в том числе за содержание таких материалов, соответствие их требованиям законодательства, за нарушения прав третьих лиц на размещаемые пользователем сети материалы, и возмещает любой ущерб, возникающий вследствие таких нарушений, а также любой ущерб, возникающий вследствие загрузки на Сайт таких материалов.
                    br
                    br
                    | 3.5. При размещении каких-либо материалов в разделах Сайта для всеобщего пользования пользователь сети тем самым автоматически предоставляет ООО «Компания Афиша» (или подтверждает, что владелец таких материалов предоставил ООО «Компания Афиша») бесплатное, постоянное, безотзывное, не исключительное право на использование, воспроизведение, изменение, редактирование, опубликование, перевод и распространение таких материалов (частично или полностью) на территории всех стран мира и/или включение таких материалов в другие произведения в любой форме посредством использования любых средств массовой информации или технологий, которые известны в настоящее время или могут быть изобретены в будущем, на весь срок охраны авторского права, предусмотренный законодательством Российской Федерации в отношении таких материалов.
                    | Пользователь сети также разрешает доступ, просмотр, хранение или воспроизведение таких материалов другим пользователям сети для личного использования.
                    | Пользователь сети предоставляет ООО «Компания Афиша» право редактировать, копировать, публиковать и распространять любые материалы, размещенные пользователем сети на Сайте.
                    | Пользователь согласен на получение информационных сообщений, связанных с Сайтом и/или тематикой Сайта, персонализированных сообщений и/или рекламы, которые могут направляться по адресу электронной почты, указанному Пользователем при регистрации на Сайте.
                    br
                    br
                    a.blue-link(href="rass.html") Правила рассылок
                    |
                    |  на сайте Kids Point


        include ./components/blocks/footer
        + footer({footerClass: '', isIndex: true})

        include ./components/blocks/seo

app/userag.html
<!DOCTYPE html>
<html class="no-js" lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Пользовательское соглашение</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
        <header class="block page-header">
          <div class="content"><a href="index.html"><img class="header-logo" src="img/misc/logo-hor.svg"></a>
            <div class="region-selection">
              <div class="city-selection-block" id="citySelect">
                <ul class="cs-list">
                  <li class="cs-item" id="otherRegion"><a class="cs-link" href="#">Другой регион</a></li>
                  <li class="cs-item" id="mscRegion"><a class="cs-link" href="#">Москва и Мос. обл.</a></li>
                </ul>
              </div>
              <p class="r-def-phrase city-def-phrase">Ваш регион Москва или Мос. область?</p>
              <div class="yes-no-and-reg">
                <div class="yesno"><span class="yes">Да</span><span class="no">Нет</span></div>
                <div class="city-defined msc mobhide">Москва и Мос. обл.</div>
                <div class="city-defined msc mobshow visible">Москва и Мос. обл.</div>
                <div class="city-defined other">Другой регион</div>
              </div>
            </div>
            <div class="header-search-block">
              <div class="mobile-search-btn"></div>
              <input class="common-input" id="headerSearch" type="search" placeholder="Я хочу найти...">
              <div class="search-results-block" id="searchResults">
                <ul class="sr-list">
                  <li class="sr-item"><a class="sr-link" href="#">Школа бокса</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа спортивной гимнастики</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Начальная школа Стриж</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа художественной гимнастики</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Школа немецкого языка</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Большая школа большого тенниса имени Юрий Гагарина</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Первая школа детской психологии</a></li>
                  <li class="sr-item"><a class="sr-link" href="#">Маленькая уютная школа для девочек</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <header class="block main-menu-block">
          <div class="content main-menu-content">
            <nav class="main-menu">
              <ul class="main-menu__list">
                <li class="main-menu__item choice mobshow"><a class="main-menu__link" href="choice.html">Выбор Kids Point</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="events.html">Мероприятия</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="education.html">Образование</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="sport.html">Спорт</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="enter.html">Развлечения</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="beauty.html">Здоровье и красота</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="shops.html">Магазины</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="camps.html">Лагеря</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="uslugi.html">Услуги</a></li>
                <li class="main-menu__item choice mobhide"><a class="main-menu__link" href="choice.html">Выбор Kids Point</a></li>
              </ul>
            </nav>
          </div>
        </header>
    <div class="preloader"><img class="preload-cat" src="img/illustrations/preload-cat.svg">
      <div class="bim"></div>
    </div>
    <main class="lpaws">
      <div class="popup-wrapper" id="otherCityPopup">
        <div class="popup">
          <div class="close-popup"></div><img class="cat-pop-ill" src="img/illustrations/city-popup.svg">
          <h3 class="popup-title smaller-title">Немного терпения!</h3>
          <p class="popup-text common-text">Пока мы работаем только в&nbsp;Москве,<br> но&nbsp;скоро ситуация изменится</p>
          <div class="blue-btn big-btn popup-btn just-close-btn">Я просто смотрю</div>
        </div>
      </div>
      <div class="block upper-block">
        <div class="content uacont">
          <ul class="breadcrumbs">
            <li><a href="index.html">Главная /</a></li>
            <li class="active"><a href="userag.html">Пользовательское соглашение</a></li>
          </ul>
          <h2 class="block-title wu">Пользовательское соглашение</h2>
          <p class="common-text userag-block"><span class="ua-title">1. Общие условия использования пользователями сети сайта www.kidspoint.ru</span>
            Настоящее пользовательское соглашение (далее — Соглашение) устанавливает условия и правила использования пользователями сети сайта www.afisha.ru (далее — Сайт), в том числе:<br><br>— условия использования материалов, размещенных на Сайте;<br>— условия размещения материалов (включая, но не ограничиваясь текстовыми материалами, изображениями, комментариями) пользователями сети на Сайте.<br><br>Интернет-представительство (далее — Сайт) ООО «Компания Афиша» представляет собой систему интерактивного обслуживания в режиме реального времени, эксплуатируемую ООО «Компания Афиша» во всемирной сети и включающую в себя информационные услуги и данные, предоставляемые ООО «Компания Афиша» и третьими лицами.
            Использование Сайта пользователем сети означает, что пользователь сети принимает и обязуется соблюдать все нижеприведенные условия Соглашения.
            Соглашение полностью или частично может быть изменено ООО «Компания Афиша» в любое время без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее опубликования на Сайте.
          </p>
          <p class="common-text userag-block"><span class="ua-title">2. Условия использования материалов, размещенных на сайте www.kidspoint.ru</span>
            2.1. Сайт содержит материалы, охраняемые авторским правом, товарные знаки и иные охраняемые законом материалы, включая, но не ограничиваясь текстами, фотографиями, видеоматериалами, графическими изображениями, музыкальными и звуковыми произведениями.
            При этом все содержание Сайта охраняется авторским правом как произведение, созданное коллективным творческим трудом, в соответствии с законодательством Российской Федерации об авторском праве и смежных правах.
            ООО «Компания Афиша» принадлежит авторское право на использование содержания Сайта (в том числе право на подбор, расположение, систематизацию и преобразование данных, содержащихся на сайте www.afisha.ru, а также на сами исходные данные), кроме случаев, отдельно отмеченных в содержании опубликованных на Сайте материалов.
            Отображенные на сайте www.afisha.ru сведения о деятельности ООО «Компания Афиша», включая расписания, анонсы и т.п., являются информацией, принадлежащей ООО «Компания Афиша» на правах собственности. Использование такой информации в любых целях, кроме как в личных, без согласия ООО «Компания Афиша» не допускается.
            Указанные в настоящем разделе Соглашения положения предусматривают защиту интересов ООО «Компания Афиша» и третьих лиц, являющихся обладателями прав в отношении содержания (контента) Сайта. При этом все эти обладатели прав вправе воспользоваться своими правами, указанными в Соглашении, самостоятельно.<br><br>2.2 Пользователь сети не имеет права вносить изменения, публиковать, передавать третьим лицам, участвовать в продаже или уступке, создавать производные продукты или иным образом использовать, частично или полностью, содержание Сайта, исключение составляют случаи использования размещенных текстовых материалов в объеме не более 300 (трехсот) знаков без учета знаков препинания (использование любых фотоматериалов и графических изображений не допускается без согласия ООО «Компания Афиша»).
            Пользователь сети может загружать (скачивать) с Сайта материалы, охраняемые авторским правом, только для личного использования.
            Если иное не предусмотрено законодательством об авторском праве и смежных правах, не допускается копирование, распространение, передача третьим лицам, опубликование или иное использование в коммерческих целях материалов, загруженных с Сайта, без получения письменного разрешения ООО «Компания Афиша» или другого законного владельца авторских прав.
            В случае получения разрешения на копирование, распространение, опубликование или иное использование материалов сайта, охраняемых авторским правом, такое копирование, распространение, опубликование или иное использование не допускается без уведомления о принадлежности авторского права либо с изменением или исключением имени автора и/или товарного знака.
          </p>
          <p class="common-text userag-block"><span class="ua-title">3. Условия размещения материалов пользователями сети на сайте www.kidspoint.ru</span>
            3.1. Пользователь сети обязуется использовать Сайт только в законных целях.
            Пользователь Сети обязуется не размещать на Сайте и не направлять куда-либо через/посредством Сайта любые материалы следующего характера:<br><br>— нарушающие законодательство, содержащие угрозы и оскорбления, дискредитирующие других лиц, нарушающие права граждан на частную жизнь или публичный порядок, носящие характер непристойности;<br>— нарушающие в той или иной степени честь и достоинство, права и охраняемые законом интересы других лиц;<br>— способствующие или содержащие призывы к разжиганию религиозной, расовой или межнациональной розни, содержащие попытки разжигания вражды или призывы к насилию;<br>— иные материалы, которые побуждают других лиц на противоправное поведение, влекущее уголовную, гражданско-правовую и иную ответственность или каким-либо образом нарушающее положения законодательства.<br><br>Любые действия пользователя сети, которые, по мнению ООО «Компания Афиша», ограничивают или препятствуют осуществлению прав другого пользователя сети, использующего Сайт, не допускаются<br><br>3.2. Пользователь сети обязуется не размещать на Сайте и не направлять через/посредством Сайта материалы, являющиеся рекламой каких-либо товаров или услуг, без получения предварительного выраженного согласия ООО «Компания Афиша».
            Пользователь сети обязуется не использовать Сайт для рекламы или иного стимулирования сбыта любых товаров и услуг в любой форме, включая, но не ограничиваясь стимулированием пользователей к подписке на другую систему интерактивного обслуживания, являющуюся конкурентом Сайта.<br><br>3.3. Пользователь сети обязуется не загружать, размещать или иным образом использовать на Сайте какие-либо материалы, охраняемые законодательством об интеллектуальной собственности (в том числе авторским правом, законодательством о товарных знаках), и иные охраняемые законодательством материалы без получения выраженного разрешения обладателя прав на охраняемый материал. При этом бремя доказывания того, что размещение на Сайте пользователем сети материалов не нарушает авторские, смежные и иные права третьих лиц на размещаемые материалы, лежит на пользователе сети.<br><br>3.4. Пользователь сети соглашается с тем, что он несет единоличную полную ответственность в отношении размещаемых на Сайте материалов, в том числе за содержание таких материалов, соответствие их требованиям законодательства, за нарушения прав третьих лиц на размещаемые пользователем сети материалы, и возмещает любой ущерб, возникающий вследствие таких нарушений, а также любой ущерб, возникающий вследствие загрузки на Сайт таких материалов.<br><br>3.5. При размещении каких-либо материалов в разделах Сайта для всеобщего пользования пользователь сети тем самым автоматически предоставляет ООО «Компания Афиша» (или подтверждает, что владелец таких материалов предоставил ООО «Компания Афиша») бесплатное, постоянное, безотзывное, не исключительное право на использование, воспроизведение, изменение, редактирование, опубликование, перевод и распространение таких материалов (частично или полностью) на территории всех стран мира и/или включение таких материалов в другие произведения в любой форме посредством использования любых средств массовой информации или технологий, которые известны в настоящее время или могут быть изобретены в будущем, на весь срок охраны авторского права, предусмотренный законодательством Российской Федерации в отношении таких материалов.
            Пользователь сети также разрешает доступ, просмотр, хранение или воспроизведение таких материалов другим пользователям сети для личного использования.
            Пользователь сети предоставляет ООО «Компания Афиша» право редактировать, копировать, публиковать и распространять любые материалы, размещенные пользователем сети на Сайте.
            Пользователь согласен на получение информационных сообщений, связанных с Сайтом и/или тематикой Сайта, персонализированных сообщений и/или рекламы, которые могут направляться по адресу электронной почты, указанному Пользователем при регистрации на Сайте.<br><br><a class="blue-link" href="rass.html">Правила рассылок</a>
             на сайте Kids Point
          </p>
        </div>
      </div>
            <footer class="block page-footer">
              <div class="content"><a href="index.html"><img class="footer-logo" src="img/misc/logo-vert.svg"></a>
                <ul class="footer-col">
                  <li><a href="about.html">О компании</a></li>
                  <li><a href="smi.html">СМИ о нас</a></li>
                </ul>
                <ul class="footer-col">
                  <li><a href="reklama.html">Реклама</a></li>
                  <li><a href="contacts.html">Контакты</a></li>
                </ul>
                <ul class="footer-col">
                  <li><a href="userag.html">Пользовательское соглашение</a></li>
                  <li><a href="rass.html">Правила рассылок</a></li>
                </ul>
                <ul class="footer-col sn">
                  <li><a class="fb" href="#" target="_blank"></a></li>
                  <li><a class="vk" href="#" target="_blank"></a></li>
                  <li><a class="ok" href="#" target="_blank"></a></li>
                  <li><a class="tw" href="#" target="_blank"></a></li>
                </ul>
                <p class="copyright">Kids Point, 2018</p>
              </div>
            </footer>
      <div class="block seo-block">
        <div class="content">
          <p class="seo-col">Ребёнок (множ. дети) — в основном значении, человек в период детства. Возрастные границы детства разнятся в различных культурах, теориях жизненного цикла и юридических системах. В общем случае ребёнком называют человека от рождения.</p>
          <p class="seo-col">До окончания пубертатного периода. Де́вочка — ребёнок женского пола; ма́льчик — ребёнок мужского пола. Раздел медицины, посвящённый детскому здоровью, называется педиатрия. Русское слово «ребёнок» происходят от др.</p>
          <p class="seo-col">В России Пётр I издаёт указ «О строении в Москве госпиталей для помещения незаконнорождённых младенцев и о даче им и их кормилицам денежного жалования». Позже М. В. Ломоносов высказывает.</p>
        </div>
      </div>
    </main>
    <script src="js/main.js"></script>
    <script src="js/jquery.range.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  </body>
</html>
